{% extends "layouts/main.html" %}

{% set pageName="signin" %}

{% block content %}



<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Create a GOV.UK One Login or sign in</h1>
                
                <p class="govuk-body">You need a GOV.UK One Login to sign in to this service. You can create one if you do not already have one.</p>
                <a class="govuk-button govuk-!-margin-bottom-6" data-module="govuk-button" href="https://www.figma.com/design/raCO0C9Lq0cNJ2VKC5jwy5/GOV.UK-One-Login-sign-in-user-journey-maps?node-id=1-49" data-govuk-button-init="">Continue</a>
                <p class="govuk-body">
                    <a href="/profile/profile?account=Yes" class="govuk-link" rel="noreferrer noopener" target="">go to profile</a>
                </p>
                            
            </div>

        </div>
        
      
   </div>
</section>



{% endblock %}
