{% extends "layouts/main.html" %}

{% set pageName="prepare" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/dfe">Teacher Training Hub</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Trainee starter checklist</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Trainee starter checklist</h1>
                <p class="govuk-body-l">
                    Before you begin your training, there are a few things that you can do to prepare yourself to overcome challenges.
                </p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <nav class="dfe-vertical-nav govuk-!-margin-top-2">
                    <h2 class="dfe-vertical-nav--section-header">Prepare for training</h2>
                    <ul class="dfe-vertical-nav__section">
                    <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
                        <a class="dfe-vertical-nav__link" href="#">Trainee starter checklist</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="prepare_content">Get school experience</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Advice from past trainees</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Trainee starter checklist</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Timeline of your training year</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Prepare for your first school placement</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Learn about PGCE expectations and best practice</a>
                    </li>
                </ul>
                </nav>
            </div>
            <div class="govuk-grid-column-three-quarters markdown">

                <div class="govuk-grid-row govuk-!-padding-bottom-6">

                    <div class="govuk-grid-column-two-thirds">
                        
                        <h2 class="govuk-heading-l yellow">1. Experience in the classroom</h2>

                        <p>You might want to experience life in the classroom before you start your placement so you feel more familiar with the school environment.</p>
                        <p>
                            <a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">
                                Get school experience (link opens in new tab)
                            </a>
                        </p>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        
                        <img src="/public/images/teacher9.png" alt="Sample Image">

                    </div>

                </div>

                <div class="govuk-grid-row govuk-!-padding-bottom-6">

                    <div class="govuk-grid-column-two-thirds">
                        
                        <h2 class="govuk-heading-l yellow">2. Virtual classroom experience</h2>

                        <p>Before you get the opportunity to go into a classroom physically, do it virtually.</p>
                        <p>
                            <a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">
                                Find out more
                            </a>
                        </p>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        
                        <img src="/public/images/teacherquest.png" alt="Sample Image">

                    </div>

                </div>

                <div class="govuk-grid-row govuk-!-padding-bottom-6">

                    <div class="govuk-grid-column-two-thirds">
                        
                        <h2 class="govuk-heading-l yellow">3. Attend an event</h2>

                        <p>Explore events near you where you can chat to other trainees, training providers and teachers.</p>
                        <p>
                            <a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">
                                Find an event
                            </a>
                        </p>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        
                        <img src="/public/images/teacher5.png" alt="Sample Image">

                    </div>

                </div>

                <div class="govuk-grid-row govuk-!-padding-bottom-6">

                    <div class="govuk-grid-column-two-thirds">
                        
                        <h2 class="govuk-heading-l yellow">4. Join the peer network</h2>

                        <p>Discuss your shared experiences with others in teacher training and support one another.</p>
                        <p>
                            <a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">
                                Join the community
                            </a>
                        </p>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        
                        <img src="/public/images/teacher10.png" alt="Sample Image">

                    </div>

                </div>
                
            </div>

        </div>
        
      
   </div>
</section>


{% endblock %}
