{% extends "layouts/main.html" %}

{% set pageName="Timeline of initial teacher training (ITT)" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Get ready to teach</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item">Timeline of initial teacher training (ITT)</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Timeline of your training year</h1>
                <p class="govuk-body-l">Find out what happens and when on initial teacher training (ITT) whether you’re training with a university or doing school centred initial teacher training (SCITT).  </p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "prepare/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters">

                <p class="govuk-body">
                    What happens exactly on your teacher training course and when will depend on your specific training provider. 
                </p>
                <p class="govuk-body">
                    But most training courses will include the following. 
                </p>

                <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#past-day">
                        If you're doing School Centred Initial Teacher Training (SCITT)
                    </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#past-week">
                        If you're training with a university
                    </a>
                    </li>
                </ul>
                <div class="govuk-tabs__panel" id="past-day">
                    <h2 class="govuk-heading-l" id="before-you-start">If you're doing School Centred Initial Teacher Training (SCITT)</h2>
                    <div class="dwp-timeline">
                        <ol class="dwp-timeline__items">
                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">Before you start your course</h3>
                                <p class="dwp-timeline__by-line">
                                    Some SCITTs will start your induction or onboarding before you start your course. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    This might include inviting you to visit your placement school and giving you some reading or online tasks to do over the summer. 
                                </p>
                            </li>
                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    When you start your course 
                                </h3>
                                <p class="dwp-timeline__by-line">
                                    You’ll start your first placement by observing other teachers. As you learn more about teaching and grow in confidence, you’ll start to take on more responsibilities. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    This could be leading small sections of lessons or leading some one to one learning. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You’ll have weekly meetings with your school-based mentor to discuss your progress. 
                                </p>
                            </li>
                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    Autumn term (September to December) 
                                </h3>
                                <p class="dwp-timeline__by-line">
                                    The amount you teach will slowly start to increase and you and your mentor will discuss when you’re confident enough to lead whole lessons.  
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You’ll have a progress review to make sure you’re on track to meet the standards for qualified teacher status (QTS). 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You might also submit your first PGCE assessment, if you’re doing one. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You might want to start thinking about looking at <a target="_blank" href="https://teaching-vacancies.service.gov.uk/">teaching roles on Teaching Vacancies (link opens in new tab)</a> – your provider will likely help you with this. 
                                </p>
                            </li>
                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    Spring term (January to April) 
                                </h3>
                                <p class="dwp-timeline__by-line">
                                    You’ll likely start your second placement in the spring term and your time spent teaching whole lessons will increase. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    Different providers will have different placement structures, so you may spend more time in some placement schools than others. But each trainee needs 120 days placement in at least 2 schools to get qualified teacher status (QTS). 
                                </p>
                            </li>

                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    Summer term (April to July) 
                                </h3>
                                <p class="dwp-timeline__by-line">
                                    You may submit another PGCE assignment. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You’ll be continuing to gather evidence to show you meet your provider’s training criteria (your provider will explain exactly how). 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    After your second placement, you might return to your first placement school, stay in your second, or possibly go to a third depending on the structure of the course at your specific provider. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    By the end of your training, you’ll need to have taught at least 80% of a full teacher’s timetable for at least 6 weeks. 
                                </p>
                            </li>

                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    End of the academic year 
                                </h3>
                                <p class="dwp-timeline__by-line">
                                    You’ll finish your placements near the end of the academic year and spend time preparing for your final assessments. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    Once you’ve passed your final assessments, you’ll be awarded qualified teacher status – congratulations! 
                                </p>
                            </li>

                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    September 
                                </h3>
                                <p class="dwp-timeline__by-line">
                                    You’re now an early career teacher (ECT)! 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    For your first 2 years, you’ll receive a package of support. You'll get this automatically if you work in a maintained school but some academies and special schools provide this for ECTs, too. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    <a target="_blank" href="https://getintoteaching.education.gov.uk/life-as-a-teacher/teaching-as-a-career/early-career-teachers">Find out more about support for early career teachers on Get Into Teaching (opens in new tab)</a>
                                </p>
                            </li>
                            
                        </ol>
                    </div>
                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                    <h2 class="govuk-heading-l" id="before-you-start">If you're training with a university</h2>
                    <div class="dwp-timeline">
                        <ol class="dwp-timeline__items">
                            
                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">Before you start your course</h3>
                                <p class="dwp-timeline__by-line">
                                    During the summer, your university will be working hard to match you with placement schools. Some universities might be open to or ask you to find your own placement school – talk to your provider to find out if this is something you’ll need to do. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    Your university might give you some reading or online tasks to do over the summer, too. 
                                </p>
                            </li>

                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    When you start your course 
                                </h3>
                                <p class="dwp-timeline__by-line"><b>
                                    At your university </b>
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You’ll meet your tutors, other trainees and find out exactly what to expect as part of your course. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    The start of your course might focus on educational theory, professionalism and subject knowledge. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You’ll have university days with seminars and workshops – this could be weekly or termly, depending on your course.  
                                </p>

                                <p class="dwp-timeline__by-line"><b>
                                    Your first placement  </b>
                                </p>
                                <p class="dwp-timeline__by-line">
                                    In your first placement, you’ll start by mainly observing other teachers. As you grow more confident, you’ll start to take on more responsibilities. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    This could be leading small sections of lessons or leading some one to one learning. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You’ll also have weekly meetings with your mentor at your placement school. 
                                </p>
                            </li>

                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    Autumn term (September to December) 
                                </h3>
                                <p class="dwp-timeline__by-line">
                                    The amount you teach will slowly start to increase and you and your mentor will discuss when you’re confident enough to lead whole lessons. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You’ll have a progress review to make sure you’re on track to meet the standards for qualified teacher status (QTS). 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You might also submit your first PGCE assessment, if you’re doing one. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You might want to start thinking about looking at <a target="_blank" href="https://teaching-vacancies.service.gov.uk/">teaching roles on Teaching Vacancies (link opens in new tab)</a> – your provider will likely help you with this. 
                                </p>
                            </li>

                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    Spring term (January to April) 
                                </h3>
                                <p class="dwp-timeline__by-line">
                                    You might spend another block of time with your university before you go on to your second placement. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    Different providers will have different placement structures, so you may spend more time in some placement schools than others. But each trainee needs 120 days placement in at least 2 schools to get qualified teacher status (QTS). 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    Your time spent teaching whole lessons will increase. 
                                </p>
                            </li>

                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    Summer term (April to July) 
                                </h3>
                                <p class="dwp-timeline__by-line">
                                    You may submit another PGCE assignment. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    You’ll be continuing to gather evidence to show you meet your provider’s training criteria (your provider will explain exactly how). 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    After your second placement, you might return to your first placement school, stay in your second, or possibly go to a third. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    By the end of your training, you’ll need to have taught at least 80% of a full teacher’s timetable for at least 6 weeks. 
                                </p>
                            </li>

                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    End of the academic year 
                                </h3>
                                <p class="dwp-timeline__by-line">
                                    You’ll finish your placements near the end of the academic year and spend time preparing for any final assessments. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    Once you’ve passed your final assessments, you’ll be awarded qualified teacher status – congratulations! 
                                </p>
                            </li>

                            <li class="dwp-timeline__item">
                                <h3 class="dwp-timeline__heading">
                                    September 
                                </h3>
                                <p class="dwp-timeline__by-line">
                                    You’re now an early career teacher (ECT)! 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    For your first 2 years, you’ll receive a package of support. You'll get this automatically if you work in a maintained school but some academies and special schools provide this for ECTs, too. 
                                </p>
                                <p class="dwp-timeline__by-line">
                                    <a target="_blank" href="https://getintoteaching.education.gov.uk/life-as-a-teacher/teaching-as-a-career/early-career-teachers">Find out more about support for early career teachers on Get Into Teaching (opens in new tab)</a>
                                </p>
                            </li>
                            
                        </ol>
                    </div>
                </div>
                
                </div>

                
                

            </div>

        </div>
        
      
   </div>
</section>


<div id="feedback-cta">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <p class="govuk-body-m">Give feedback to help us improve this website.</p>
            <a class="govuk-link govuk-button govuk-button--inverse" data-module="govuk-button" href="prepare_content">Give feedback</a>
         </div>
      </div>
   </div>
</div>


{% endblock %}
