{% extends "layouts/main.html" %}

{% set pageName="What to ask your teacher training provider" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item">What to ask your teacher training provider</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">What to ask your teacher training provider</h1>
                <p class="govuk-body-l">Find out what you might want to ask your training provider to help you prepare for your teacher training, from assessment dates to access to technology.</p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "prepare/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <p class="govuk-body">
                    Your training provider will help you develop your teaching knowledge and theory ready for you to put into practise in your placements. 
                <p class="govuk-body">
                    They’ll help you gather your evidence to show you meet their initial teacher training curriculum so you can achieve qualified teacher status (QTS). 
                <p class="govuk-body">
                    Before you start your training, you might want to think about things to ask when you start. 
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">1. Key milestones and assessments </h2>

                <p class="govuk-body">
                    Throughout your training, there will be key milestones where you’ll be expected to take on more responsibility and submit assessments.  
                </p>
                <p class="govuk-body">
                    If you’re doing a postgraduate certificate in education (PGCE) alongside qualified teacher status (QTS), you’ll have extra assignments, too. 
                </p>
                <p class="govuk-body">
                    These can sometimes come at the same time so it would be useful to know when these are so that you can plan and manage your time. For example, if you need to take into account things such as childcare.                                 
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">2. Available support </h2>
                
                <p class="govuk-body">
                    Your training provider might offer services like careers advisers or mental health support. 
                </p>
                <p class="govuk-body">
                   It could be useful to know what these before you start so that if you need support, you know how to get it. 
                </p>
                <p class="govuk-body">
                   You can also <a href="/support/support">find alternative ways to get support on your training</a> or read <a href="https://getintoteaching.education.gov.uk/funding-and-support">Get Into Teaching's information about funding for trainee teachers</a>.  
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">3. Absence procedures  </h2>
                
                <p class="govuk-body">
                   If you’re ill during your training, it’s important to know how you should communicate this with both your training provider and placement school. 
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">4. Access to technology</h2>
                
                <p class="govuk-body">
                    You’ll likely need access to technology during your teacher training, for example, a laptop or computer.</p>
                <p class="govuk-body">You should talk to your training provider about what you’ll need to provide yourself and what they may be able to help you get access to. This includes any needs for assistive technology. 
                </p>

                <p class="govuk-body">
                    There will also likely be online platforms that you’ll be required to use for your training, such as virtual learning environments.  
                </p>
                
                <h2 class="govuk-heading-l" id="before-you-start">5. Reasonable adjustments </h2>
                
                <p class="govuk-body">
                    Talk to your training provider about any support or reasonable adjustments you may need in place before you start your training. 
                </p>
                <p class="govuk-body">
                    This includes support for neurodiversity, long-term physical or mental health conditions or other accessibility needs. 
                </p>
                <p class="govuk-body">
                    Providers could make adjustments such as: 
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>adjusting your timetable to suit your needs  </li>
                    <li>providing copies of presentation materials before training sessions  </li>
                    <li>printing or photocopying materials on coloured paper  </li>
                    <li>providing you with contact details for support staff  </li>
                    <li>making sure training and teaching areas are wheelchair accessible  </li>
                </ul>
                <p class="govuk-body">
                    You should also discuss this with your placement schools. 
                </p>
                <p class="govuk-body">
                    <a href="https://getintoteaching.education.gov.uk/funding-and-support/if-youre-disabled">Read Get Into Teaching's information about financial support if you're disabled</a>. 
                </p>
                
            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "includes/feedbackcta.html" %}



{% endblock %}
