{% extends "layouts/main.html" %}

{% set pageName="Prepare for your first school placement" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item">Prepare for your first school placement</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Prepare for your first school placement</h1>
                <p class="govuk-body-l">Find out how you can prepare for your first school placement, from accessing the school to your professional conduct.</p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "prepare/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <p class="govuk-body">
                    Your first school placement will be your chance to understand what teaching in a school is really like. 
                </p>
                <p class="govuk-body">
                    The school should provide you with all the information you need during your induction or onboarding, but it might be worth considering what would be useful to ask and things to be aware of. 
                </p>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “Watch how experienced teachers manage behaviour, explain concepts, and adapt their lessons. These real-life lessons are gold. Learn from feedback, even when it stings, it’s not personal, it’s professional.”
                        </p>
                        <p class="govuk-body">
                            <strong>Science trainee from 2024/25</strong>
                        </p>
                        
                    </div>
                </div>

                <h2 class="govuk-heading-l" id="before-you-start">1. Access the school </h2>
                
                <p class="govuk-body">
                    Your placement school should let you know:  
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>how to access the school building</li>
                    <li>if there's a signing in and out process</li>
                    <li>if there's parking available, if you're travelling by car</li>
                    <li>what the timings of the school day are and when you're expected to arrive</li>
                    <li>what the dress code is</li>
                </ul>
                <p class="govuk-body">
                    You may have to travel to your placement school – you can talk to your provider about any financial support available. 
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">2. Access to technology</h2>

                <p class="govuk-body">
                    Your provider will work closely with your placement school to get you set up appropriately for your placement. 
                </p>
                <p class="govuk-body">
                    You'll need to know what you’ll have to provide yourself and what your school may be able to help you with.
                </p>
                <p class="govuk-body">
                    You’ll likely need access to school systems on your placement, for example, to access planning materials, pupil information or to record homework. You may also need a school email account setting up.                                 
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">3. Absence procedures  </h2>
                
                <p class="govuk-body">
                    If you’re ill during your training, it’s important to know how you should communicate this with both your placement school and training provider. 
                </p>
                <p class="govuk-body">
                    It’s important to let the right people know as soon as possible so any cover can be arranged. 
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">4. Safeguarding and health and safety  </h2>
                
                <p class="govuk-body">
                    Each school will have their own safeguarding policies and health and safety procedures. If you know which placement school you’re going to, you may want to check their website to familiarise yourself with their policies. 
                </p>
                <p class="govuk-body">
                    You’ll likely receive safeguarding training from your provider or your school. 
                <p class="govuk-body">
                    It’s likely you’ll need to bring ID with you on your first day – this might include your DBS. 
                </p>
                <p class="govuk-body">
                    You may also want to familiarise yourself with <a href="https://www.gov.uk/government/publications/keeping-children-safe-in-education--2">Department for Education’s keeping children safe in education guidance</a>. 
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">5. Professional conduct</h2>
                
                <p class="govuk-body">
                    Part of the <a href="https://www.gov.uk/government/publications/teachers-standards">teachers’ standards</a> you’ll be assessed against at the end of your course include your professional conduct. 
                </p>
                <p class="govuk-body">
                    This will be an important part of being in the classroom and joining the school environment as a member of staff. Think about the dress code and how you might conduct yourself both in the classroom and out, like in the staffroom.                 
                </p>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “Remember that professionalism is the key. Ensure that you make positive relationships with all staff on your placements and turn up every day on time."
                        </p>
                        <p class="govuk-body">
                            <strong>Geography trainee from 2024/25</strong>
                        </p>
                    </div>
                </div>

                <h2 class="govuk-heading-l" id="before-you-start">6. Reasonable adjustments </h2>
                
                <p class="govuk-body">
                    If you need support during your training, you should talk to your school and provider about any reasonable adjustments you may need in place ahead of time. 
                </p>
                <p class="govuk-body">
                    This includes support for neurodiversity, long-term physical or mental health conditions or other accessibility needs.     
                </p>
                <p class="govuk-body">
                    Adjustments could include:  
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>adjusting your timetable to suit your needs  </li>
                    <li>providing copies of presentation materials before training sessions  </li>
                    <li>printing or photocopying materials on coloured paper  </li>
                    <li>providing contact details for support staff  </li>
                    <li>making sure training and teaching areas are wheelchair accessible  </li>
                </ul>
                <p class="govuk-body">
                    You may be eligible for financial support to help cover the costs of any specialist equipment or study-related costs due to a health condition or disability.  
                </p>
                <p class="govuk-body">
                    <a href="https://getintoteaching.education.gov.uk/funding-and-support/if-youre-disabled">Find out more about financial support if you're disabled.</a> 
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">7. Behaviour management policies </h2>
                
                <p class="govuk-body">
                    Each school will have different policies and these could be different from the methods your training provider teaches. 
                </p>
                <p class="govuk-body">
                    You should talk to your placement school about their specific behaviour policies when you start. 
                </p>
                <p class="govuk-body">
                    You can also <a href="/resources/resources_behaviour">find other behaviour management resources</a> you can take inspiration from.
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">8. Lesson planning  </h2>

                <p class="govuk-body">
                    You'll not have to worry about planning any lessons straight away but it's useful to know what you’ll have access to as your teaching responsibilities grow.
                <p class="govuk-body">
                   Your placement school might use specific lesson planning resources that you’ll be able to access.
                </p>
                <p class="govuk-body">
                    You can also <a href="/resources/resources_lesson">find alternative lesson planning resources and tips</a>. 
                </p>
                <p class="govuk-body">
                    As well as preparing for your first placement, you can also think about <a href="/prepare/prepare_provider">what to ask your teacher training provider</a>. 
                </p>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “Be prepared for bad days or bad lessons. The best planned lessons can go unexpectedly wrong in ways you can’t control. Get used to planning the next lesson as soon as that lesson has finished.”
                        <p class="govuk-body">
                            <strong>Physical education (PE) trainee from 2024/25</strong>
                        </p>
                    </div>
                </div>

                
            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "includes/feedbackcta.html" %}



{% endblock %}
