{% extends "layouts/main.html" %}

{% set pageName="How to be ready for mentoring" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item">How to be ready for mentoring</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">How to be ready for mentoring</h1>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "prepare/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <p class="govuk-body">
                    Your school-based mentor plays an important role in your development as a teacher. They’ll support your progress, offer feedback, and help you reflect on your practice. Building a strong professional relationship with your mentor can make a big difference to your placement experience. 
                </p>
                
                <h2 class="govuk-heading-l">Professional relationship </h2>

                <p class="govuk-body">
                    Your school-based mentor will support you, but it is also important to remember that they’re a teacher, too, and will likely have a busy schedule. Don’t worry, though- there are some things you can do to make the most of your time with them. 
                </p>
                <p class="govuk-body">
                    Having a good relationship with your mentor and other members of staff at your placement school can shape your placement experience. It’s worth thinking about how you want to approach this relationship. You might consider: 
                </p>
                
                <ul class="govuk-list govuk-list--bullet">
                    <li>setting off with a good attitude of enthusiasm and a willingness to learn </li>
                    <li>being proactive by asking your mentor if they need anything from you </li>
                    <li>being understanding that they’re there to support you, but that they also have other responsibilities and commitments </li>   
                </ul>

                <h2 class="govuk-heading-l">Your time with your mentor </h2>

                <p class="govuk-body">
                    Your time with your mentor could be a mixture of meetings, catch-ups and observations. This can be different depending on your mentor, the placement school, your subject, or even the phase in your training.  
                </p>

                <p class="govuk-body">
                    To make the most of this time with your mentor, you could: 
                </p>
                
                <ul class="govuk-list govuk-list--bullet">
                    <li>bring notes or questions from your training experiences </li>
                    <li>be ready to discuss what went well and what you found challenging </li>
                    <li>be open-minded to feedback and remember that it is all part of the training process </li>   
                </ul>

                <h2 class="govuk-heading-l">Receiving feedback </h2>

                <p class="govuk-body">
                    Feedback is a vital part of your development, but it can be a challenge to feel that in the moment. It might be uncomfortable at times, but being open to constructive criticism will help you improve. Don’t worry if this takes time!  
                </p>

                <p class="govuk-body">
                    While you’re receiving the feedback, you can try to: 
                </p>
                
                <ul class="govuk-list govuk-list--bullet">
                    <li>listen actively and avoid becoming defensive </li>
                    <li>ask for clarification if you don’t understand something </li>
                    <li>write important comments or tips down so you can visit them later </li>   
                </ul>

                <p class="govuk-body">
                    After you’ve received your feedback, you could: 
                </p>
                
                <ul class="govuk-list govuk-list--bullet">
                    <li>reflect on it after having some time to decompress  </li>
                    <li>think about ways you can try to apply it </li>
                    <li>ask further questions if you have any </li>   
                    <li>celebrate your progress as well as understanding there are areas to work on </li>   
                </ul>
                
                
                
            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "includes/feedbackcta.html" %}



{% endblock %}
