{% extends "layouts/main.html" %}

{% set pageName="Workload management" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item">Workload management</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Workload management</h1>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "prepare/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <p class="govuk-body">
                    Teacher training can be a busy time, juggling teaching with lesson planning and assignments. 
                </p>

                <p class="govuk-body">
                    It’s important to try and manage your workload to ensure that you maintain a healthy work-life balance and are well prepared for your teaching career. 
                </p>
                
                <h2 class="govuk-heading-l">Advice from Education Support</h2>

                <p class="govuk-body">
                    <a href="https://www.educationsupport.org.uk/resources/for-individuals/guides/time-management-and-wellbeing-at-work/" target="_blank">Education Support’s time management guide for teachers and education staff (link opens in new tab)</a> . 
                </p>
                
                <h2 class="govuk-heading-l">Advice from past trainees</h2>

                <h3 class="govuk-heading-m">Good time management practises </h3>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “Your work will take as long as you allow it to take. Try setting a timer for yourself to complete a certain task, and you would be surprised at how much more efficient you become.”
                        </p>
                        <p class="govuk-body">
                            <strong>English trainee from 2024/25</strong>
                        </p>   
                    </div>
                </div>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “I think striking the balance between work and teaching was quite difficult. In the end, I made sure that during each of my free periods, I knew exactly what I wanted to get done. I also made sure that I left school early every Wednesday and did no work at home. At the weekends, I did my work on a Sunday rather than Saturday because it meant things wouldn't spill over to the next day.”
                        </p>
                        <p class="govuk-body">
                            <strong>History trainee from 2024/25</strong>
                        </p>   
                    </div>
                </div>

                <h3 class="govuk-heading-m">Time management tools </h3>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “Have a teaching diary! It kept me on top of plans, clubs, fixtures, general life and honestly was the best tool I could use.”
                        </p>
                        <p class="govuk-body">
                            <strong>PE trainee from 2024/25</strong>
                        </p>   
                    </div>
                </div>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “Excel spreadsheet for medium term planning - lifesaver! A sheet for each term, scheme of work, calendar for the year and a to do list. So useful!”
                        </p>
                        <p class="govuk-body">
                            <strong>Science trainee from 2024/25</strong>
                        </p>   
                    </div>
                </div>

                <h3 class="govuk-heading-m">Be organised </h3>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “Organisation will make the process so much easier! Being organised with what you need in and out of the classroom helps you be more efficient with your time. This directly leads to having a proper work life balance because you won’t have to do things on weekends or late after school. It’s an intense process so being organised and making sure you have time for yourself is the most important thing.”
                        </p>
                        <p class="govuk-body">
                            <strong>English trainee from 2024/25</strong>
                        </p>   
                    </div>
                </div>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “Be organised. Have a filling system for your notes, lesson plans and resources. It is the most annoying thing when you know you have a fantastic resource and can't find it because you can't remember where you've saved it.”
                        </p>
                        <p class="govuk-body">
                            <strong>Maths trainee from 2024/25</strong>
                        </p>   
                    </div>
                </div>

                <h3 class="govuk-heading-m">Ask for support </h3>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “Make sure you prioritise your jobs and be open/honest with your mentors/host teachers if you are struggling with time frames etc.”
                        </p>
                        <p class="govuk-body">
                            <strong>English trainee from 2024/25</strong>
                        </p>   
                    </div>
                </div>

                <h3 class="govuk-heading-m">Use technology</h3>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “AI became a big help when it came to planning activities. Use it to take some of the more time consuming tasks away. AI is not there to teach, it is there to help you teach.”
                        </p>
                        <p class="govuk-body">
                            <strong>History trainee from 2024/25</strong>
                        </p>   
                    </div>
                </div>

                
            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "includes/feedbackcta.html" %}



{% endblock %}
