{% extends "layouts/main.html" %}

{% set pageName="Advice from former trainees" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item">Advice from former trainees</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Advice from former trainees</h1>
                <p class="govuk-body-l">Read advice from trainees who have just finished their teacher training.</p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "prepare/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <h2 class="govuk-heading-l" id="before-you-start">What advice would you give to those about to start teacher training?</h2>

                <div class="govuk-grid-row govuk-!-margin-bottom-5 col-container">

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body-m">
                                    "You won’t be perfect on day one and that’s okay. Teacher training is about growth, not perfection."
                                </p>
                                <p class="govuk-body">
                                    <strong>Maths trainee</strong>
                                </p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "Don’t struggle alone – everyone feels overwhelmed at times and like it’s impossible. Share your worries with those around you because others will be feeling the same!"
                                </p>
                                <p class="govuk-body">
                                    <strong>Religious education (RE) trainee</strong>
                                </p>                               
                            </div>
                        </div>
                    </div>

                </div>

                <div class="govuk-grid-row govuk-!-margin-bottom-5 col-container">

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "Remember that you are in the process of learning; there will be lessons which don't go to plan and that's absolutely okay. You aren't expected to be a perfect teacher – all that matters is that you learn from the experience."
                                </p>
                                <p class="govuk-body">
                                    <strong>History trainee</strong>
                                </p>                         
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "Stay ahead – you have 3 babies that you’ll need to constantly take care of: your teaching, your assignments and your portfolio. Pay each an appropriate amount of attention and they will never need to cry."
                                </p>
                                <p class="govuk-body">
                                    <strong>Maths trainee</strong>
                                </p>                          
                            </div>
                        </div>
                    </div>

                </div>
                

                <h2 class="govuk-heading-l" id="before-you-start">What was the most challenging part of teacher training and how did you deal with it?</h2>

                <div class="govuk-grid-row govuk-!-margin-bottom-5 col-container">

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "The most challenging part is the imposter syndrome. You will feel like you are not good enough and that you can’t do this. This is normal – fake it until you make it!"
                                </p>
                                <p class="govuk-body">
                                    <strong>Science trainee</strong>
                                </p>                     
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "Actually stepping in front of a class to teach them for the first time. It almost feels like you're being pushed in at the deep end but once you've taught for the first time, it's a massive weight off your shoulders and it starts to feel more natural."
                                </p>
                                <p class="govuk-body">
                                    <strong>Maths trainee</strong>
                                </p>                      
                            </div>
                        </div>
                    </div>

                </div>

                <div class="govuk-grid-row govuk-!-margin-bottom-5 col-container">

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "How long it takes to plan lessons – stick with it because you'll get quicker and better every day. A quote I remember is, ‘It never gets easier, you just get better.’"
                                </p>
                                <p class="govuk-body">
                                    <strong>Physical education (PE) trainee</strong>
                                </p>                  
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "Your placement schools should be different, so prepare for your school experiences to vary. I was surprised by how much schools can differ."
                                </p>
                                <p class="govuk-body">
                                    <strong>English trainee</strong>
                                </p>                    
                            </div>
                        </div>
                    </div>

                </div>

                <h2 class="govuk-heading-l" id="before-you-start">What resources or tools did you find the most useful during your training?</h2>

                <div class="govuk-grid-row govuk-!-margin-bottom-5 col-container">

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "Excel spreadsheet for medium term planning – a lifesaver! A sheet for each term, scheme of work, calendar for the year and a to do list."
                                </p>
                                <p class="govuk-body">
                                    <strong>Science trainee</strong>
                                </p>           
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                   "Building positive relationships with colleagues was incredibly helpful. A friendly and respectful attitude encourages others to support you. Ultimately, preparation and connection are key."
                                </p>
                                <p class="govuk-body">
                                    <strong>Religious education (RE) trainee</strong>
                                </p>              
                            </div>
                        </div>
                    </div>

                </div>

                <div class="govuk-grid-row govuk-!-margin-bottom-5 col-container">

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "There are so many online resources now that you can always find slides that you can edit rather than starting from scratch. You can save yourself so much time by looking around."
                                </p>
                                <p class="govuk-body">
                                    <strong>Maths trainee</strong>
                                </p>         
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "Other teachers! Ask them how they deal with that year group who’s driving you mad. Ask them how they usually teach this scheme of work. Ask them for advice on how to handle workload. They are there to help and usually love sharing expertise."
                                </p>
                                <p class="govuk-body">
                                    <strong>Drama and English trainee</strong>
                                </p>           
                            </div>
                        </div>
                    </div>

                </div>

            
                <h2 class="govuk-heading-l" id="before-you-start">Is there anything you would have done differently to prepare for training?</h2>


                <div class="govuk-grid-row govuk-!-margin-bottom-5 col-container">

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "Increased subject and curriculum knowledge, if I’d already had this, planning would have been significantly easier."
                                </p>
                                <p class="govuk-body">
                                    <strong>Maths trainee</strong>
                                </p>      
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "Look up the national curriculum to give you an overview of what it is you’ll need to look up and teach."
                                </p>
                                <p class="govuk-body">
                                    <strong>History trainee</strong>
                                </p>        
                            </div>
                        </div>
                    </div>

                </div>

                <div class="govuk-grid-row govuk-!-margin-bottom-5 col-container">

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "Get as much experience in school as possible, as this tells you a lot about how schools work and function."
                                </p>
                                <p class="govuk-body">
                                    <strong>Maths trainee</strong>
                                </p>   
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-half col">
                        <div class="cta-banner">
                            <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3 ">
                                <p class="govuk-body">
                                    "Buy a teacher planner - it is so important for organisation!"
                                </p>
                                <p class="govuk-body">
                                    <strong>Geography trainee</strong>
                                </p>     
                            </div>
                        </div>
                    </div>

                </div>

            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "includes/feedbackcta.html" %}



{% endblock %}