{% extends "layouts/main.html" %}

{% set pageName="prepare" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Get ready to teach</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-bottom-4 a">
   <div class="dfe-width-container">
      <div class="noprint"></div>
      <div class="govuk-grid-row govuk-!-padding-top-7">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Prepare for training</h1>
            <p class="govuk-body-l">Find out more about what your training year will look like.</p>
         </div>
      
      </div>
   </div>
</div>

<div class="hero yellow content-even b">
    <picture>
       <img src="/public/images/homebanner.png" alt="" aria-hidden="true">
    </picture>
  <div class="hero__title">
    <h1 class="heading--box-padded heading--box-padding-l heading--box-white">Prepare for training</h1>
  </div>
</div>


  <div class="govuk-width-container">


  <div class="govuk-main-wrapper">

    <nav class="category__nav-cards">
        <ul class="dfe-grid-container">

            <li class="category__nav-card">
                <a class="link--black" href="prepare_placement">
                    <div class="category__nav-card--content">
                    <h2 class="govuk-heading-m">Prepare for your first school placement</h2>
                    <p>Find out how you can prepare for your first school placement, including questions you might want to ask your provider or school.</p>
                    </div>
                </a>
            </li>

            <li class="category__nav-card">
                <a class="link--black" href="prepare_training">
                    <div class="category__nav-card--content">
                    <h2 class="govuk-heading-m">How to prepare for teacher training</h2>
                    <p>Find out how you can prepare for your teacher training, from talking to your training provider to preparing for your first placement. </p>
                    </div>
                </a>
            </li>
            <li class="category__nav-card">
                <a class="link--black" href="#">
                    <div class="category__nav-card--content">
                    <h2 class="govuk-heading-m">What to expect from your mentor</h2>
                    <p>Find out what to expect from your teacher training mentor, how they’ll assess you, and where else you can get support during your training.</p>
                    </div>
                </a>
            </li>
            <li class="category__nav-card">
                <a class="link--black" href="#">
                    <div class="category__nav-card--content">
                    <h2 class="govuk-heading-m">What to expect from your provider</h2>
                    <p>Find out what you might want to ask your training provider to help you prepare for your teacher training, from assessment dates to access to tech.  </p>
                    </div>
                </a>
            </li>
            
            <li class="category__nav-card">
                <a class="link--black" href="#">
                    <div class="category__nav-card--content">
                    <h2 class="govuk-heading-m">Hear from former trainees</h2>
                    <p>Get an insight into what the training year experience is like from former trainees.</p>
                    </div>
                </a>
            </li>

        </ul>
    </nav>
   


</div>

</div>

<div id="feedback-cta">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <p class="govuk-body-m">Give feedback to help us improve this website.</p>
            <a class="govuk-link govuk-button govuk-button--inverse" data-module="govuk-button" href="prepare_minimal">Give Feedback</a>
         </div>
      </div>
   </div>
</div>

{% endblock %}
