{% extends "layouts/main.html" %}

{% set pageName="What to expect from your teacher training mentor " %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Get ready to teach</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item">What to expect from your teacher training mentor </li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">What to expect from your teacher training mentor </h1>
                <p class="govuk-body-l">Find out what to expect from your teacher training mentor and how they’ll assess you, and where else you can get support during your training. </p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "prepare/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <p class="govuk-body">
                    You’ll have a mentor in each of your placement schools. They should be an experienced teacher in your school. 
                <p class="govuk-body">
                    You should have 1.5 hours a week being mentored and they’ll be your first point of contact for anything you need during your time at the school. 
                <p class="govuk-body">
                    They should: 
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>provide you with feedback to help you develop your teaching practice </li>
                    <li>give you opportunities to observe them or other colleagues teaching </li>
                    <li>support you with any issues or questions you have </li>
                </ul>

                <h2 class="govuk-heading-l a" id="before-you-start" style="padding:0px; width:100%;">Providing you with feedback</h2>

                <h2 class="govuk-heading-l yellow b" id="before-you-start">Providing you with feedback</h2>

                <p class="govuk-body">
                    Your mentor is responsible for making sure you’re observed and given feedback so you understand what you’re doing well along with things to work on. 
                </p>
                <p class="govuk-body">
                    They’ll help you set targets and understand how to improve, making sure you understand the curriculum and how to effectively put your teaching skills into practice. 
                </p>
                

                <h2 class="govuk-heading-l a" id="before-you-start" style="padding:0px; width:100%;">Assessing your progress </h2>

                <h2 class="govuk-heading-l yellow b" id="before-you-start">Assessing your progress </h2>
                
                <p class="govuk-body">
                    You’ll have formal and informal assessment points throughout your training – these are called formative and summative assessments. 
                </p>
                <p class="govuk-body">
                   Your mentor will work with your training provider to make sure you’re assessed throughout your training against your provider’s initial teacher training curriculum.  
                </p>
               

                <h3 class="govuk-heading-m a" id="before-you-start" style="padding:0px; width:100%;">Formative assessments </h3>

                <h3 class="govuk-heading-m yellow b" id="before-you-start">Formative assessments </h3>
                
                <p class="govuk-body">
                   Regular classroom observations will give you ongoing feedback so you can continue to develop your teaching skills.  
                </p>

                <p class="govuk-body">
                   You may also be required to share reflective journals where you self-assess your progress. 
                </p>

                <p class="govuk-body">
                   You’ll likely be asked to share lesson plans that your mentor can feed back on, too. .  
                </p>

                <p class="govuk-body">
                   If your mentor is not linked with your subject or phase, you might be observed by another teacher in your subject area. 
                </p>

                <h3 class="govuk-heading-m a" id="before-you-start" style="padding:0px; width:100%;">Summative assessments </h3>

                <h3 class="govuk-heading-m yellow b" id="before-you-start">Summative assessments </h3>
                
                <p class="govuk-body">
                    Your summative assessments are the formal way that you’ll be assessed against your provider’s initial teacher training curriculum. 
                </p>
                <p class="govuk-body">
                    This will be different depending on your training provider but will include classroom observations. 
                </p>
                <p class="govuk-body">
                    You may also be asked to gather a portfolio of evidence, but your training provider will let you know how you should document this.  
                </p>
                <p class="govuk-body">
                    Talk to your provider at the start of your training so you know how you’ll be expected to gather evidence and you can do this as you go. 
                </p>
                <p class="govuk-body">
                    At the end of your training, you’ll then be assessed against the teachers’ standards. 
                </p>
                
                <h2 class="govuk-heading-l a" id="before-you-start" style="padding:0px; width:100%;">Other support </h2>

                <h2 class="govuk-heading-l yellow b" id="before-you-start">Other support </h2>

                <h3 class="govuk-heading-m a" id="before-you-start" style="padding:0px; width:100%;">Provider-based mentor or tutor </h3>

                <h3 class="govuk-heading-m yellow b" id="before-you-start">Provider-based mentor or tutor </h3>

                <p class="govuk-body">
                   You'll have a mentor or tutor from your course provider who will not be specific to your placement schools. 
                </p>
                
                <p class="govuk-body">
                    They’ll explain how your provider requires you to gather evidence for qualified teacher status (QTS) and make sure you’re being supported on your placements. 
                </p>

                <h3 class="govuk-heading-m a" id="before-you-start" style="padding:0px; width:100%;">Subject mentors and leads </h3>

                <h3 class="govuk-heading-m yellow b" id="before-you-start">Subject mentors and leads </h3>

                <p class="govuk-body">
                   Your mentor may not always be linked with your specific subject or phase. In which case, you’ll usually have a subject mentor at your placement school who you’ll observe and work with to develop your teaching practice in your subject. 
                </p>
                
                <p class="govuk-body">
                    They will work closely with your mentor to provide feedback on your progress. 
                </p>

                <h3 class="govuk-heading-m a" id="before-you-start" style="padding:0px; width:100%;">School staff </h3>

                <h3 class="govuk-heading-m yellow b" id="before-you-start">School staff </h3>

                <p class="govuk-body">
                   Many trainees experience support from the wider school team, not just their mentors. 
                </p>
                
                <p class="govuk-body">
                    You’ll likely observe a few different teachers throughout the school and may have a few of them observing you. 
                </p>
                
                
                
            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "feedbackcta.html" %}


{% endblock %}
