{% extends "layouts/main.html" %}

{% set pageName="prepare" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/dfe">Teacher Training Hub</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Trainee starter checklist</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Trainee starter checklist</h1>
                <p class="govuk-body-l">Understand why physical development is important to early years children.</p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <nav class="dfe-vertical-nav govuk-!-margin-top-2">
                    <h2 class="dfe-vertical-nav--section-header">Prepare for training</h2>
                    <ul class="dfe-vertical-nav__section">
                    <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
                        <a class="dfe-vertical-nav__link" href="#">Trainee starter checklist</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Get school experience</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Advice from past trainees</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Trainee starter checklist</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Timeline of your training year</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Prepare for your first school placement</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Learn about PGCE expectations and best practice</a>
                    </li>
                </ul>
                </nav>
            </div>
            <div class="govuk-grid-column-three-quarters">

                <h2 class="govuk-heading-l" id="before-you-start">Title</h2>

                <p class="govuk-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lectus metus, ullamcorper quis tempus eu, consectetur at mauris. Quisque placerat sem ut arcu euismod ullamcorper. Phasellus sed neque bibendum, <a class="govuk-link" href="#">stakeholder map</a>  dui id, faucibus nisi. Duis commodo tempor mi rhoncus tristique. Duis sagittis efficitur magna. Mauris mollis blandit arcu, et blandit urna faucibus et. Proin vel accumsan risus. Cras libero arcu, suscipit vitae faucibus vitae, rutrum eget velit. Duis eget tortor non elit aliquet accumsan ac at magna. Nullam sit amet ex nunc. Nam a velit nec turpis tempus placerat. Nunc semper ipsum nec tempor scelerisque.
                </p>
                <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="#">link</a></li>
                <li><a class="govuk-link" href="#">link</a></li>
                </ul>

                <p class="govuk-body">Bullets:  </p>
                <ul class="govuk-list govuk-list--bullet">
                <li>bullet</li>
                <li>bullet</li>
                <li>bullet</li>
                </ul>
                <p class="govuk-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lectus metus, ullamcorper quis tempus eu, consectetur at mauris. Quisque placerat sem ut arcu euismod ullamcorper. Phasellus sed neque bibendum, <a class="govuk-link" href="#">stakeholder map</a>  dui id, faucibus nisi. Duis commodo tempor mi rhoncus tristique. Duis sagittis efficitur magna. Mauris mollis blandit arcu, et blandit urna faucibus et. Proin vel accumsan risus. Cras libero arcu, suscipit vitae faucibus vitae, rutrum eget velit. Duis eget tortor non elit aliquet accumsan ac at magna. Nullam sit amet ex nunc. Nam a velit nec turpis tempus placerat. Nunc semper ipsum nec tempor scelerisque.
                </p>            
                
            </div>

        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full"><hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"></div>
        </div>

        <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="hf-cta-block">
                        <div>
                            <div class="hf-icon blue">
                                <svg height="32" viewBox="0 0 448 512" width="30" xmlns="http://www.w3.org/2000/svg"><path d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v25.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm0 96c61.9 0 112 50.1 112 112v25.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V208c0-61.9 50.1-112 112-112zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"></path></svg>
                            </div>
                        </div>
                        <div class="govuk-!-padding-top-2">
                            <h3>Search for your teaching role</h3>
                            <p>Most schools advertise their roles this time of year. Visit Teaching Vacancies to view roles available for September. You can also set up a job alert.</p>
                            <p><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" target="_blank" href="https://teaching-vacancies.service.gov.uk/">
                                Find roles on Teaching Vacancies (opens in new tab)
                            </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="hf-cta-block">
                        <div>
                            <div class="hf-icon blue">
                                <svg height="32" viewBox="0 0 512 512" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z"></path></svg>
                            </div>
                        </div>
                        <div class="govuk-!-padding-top-2">
                            <h3>Give training feedback</h3>
                            <p>You're halfway through your training year. Give quick feedback on how you've found it so far. Your views can make a difference for future trainees.</p>
                            <p>
                                <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" target="_blank" href="#">
                                    Complete the simple feedback form  (opens in new tab)
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

      
   </div>
</section>


{% endblock %}
