{% extends "layouts/main.html" %}

{% set pageName="prepare" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/dfe">Teacher Training Hub</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
        <div class="dfe-width-container">
            <div class="govuk-grid-row govuk-!-padding-top-4">
               
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Prepare for training</h1>
                    <p class="govuk-body-l">
                        Find out more about what your training year will look like.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
  <div class="govuk-width-container">


  <div class="govuk-main-wrapper">

    <div class="dfe-grid-container">

        <div class="dfe-card">
            <img src="/public/images/teacher5.png" alt="Sample Image">
            <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Trainee starter checklist</a>
            </h3>
            <p>
                Discover our free events where you can talk to expert advisers about training and meet other trainees.
            </p>
            </div>
        </div>

        <div class="dfe-card">
            <img src="/public/images/teacher4.png" alt="Sample Image">
            <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get school experience</a>
            </h3>
            <p>
                Request school experience in a primary or secondary school to prepare you for training.
            </p>
            </div>
        </div>
        
        <div class="dfe-card">
            <img src="/public/images/teacher3.png" alt="Sample Image">
            <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Advice from past trainees</a>
            </h3>
            <p>
                Get an insight into what the training year experience is like from former trainees.
            </p>
            </div>
        </div>
    
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-5">Prepare for your course and placements</h2>
      </div>
    </div>

    <div class="dfe-grid-container">

        <div class="dfe-card">
            <img src="/public/images/teacher4.png" alt="Sample Image">
            <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Trainee starter checklist</a>
            </h3>
            <p>
                See what you can do before you start training to feel prepared. 
            </p>
            </div>
        </div>

        <div class="dfe-card">
            <img src="/public/images/teacher6.png" alt="Sample Image">
            <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Timeline of your training year</a>
            </h3>
            <p>
                Find out what a typical year might look like.
            </p>
            </div>
        </div>
        
        <div class="dfe-card">
            <img src="/public/images/teacher7.png" alt="Sample Image">
            <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Prepare for your first school placement</a>
            </h3>
            <p>
                Find out more about how school curriculums are structured.
            </p>
            </div>
        </div>

        <div class="dfe-card">
            <img src="/public/images/teacher8.png" alt="Sample Image">
            <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Learn about PGCE expectations and best practice</a>
            </h3>
            <p>
                Learn more about the PGCE and how to best complete assignments.
            </p>
            </div>
        </div>

   

  </div>

{% endblock %}
