{% extends "layouts/main.html" %}

{% set pageName="What your training should involve" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item">What your training should involve</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">What your training should involve </h1>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "prepare/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown">
                
                <p class="govuk-body">
                    All teacher training must follow the <a href="https://www.gov.uk/government/publications/initial-teacher-training-and-early-career-framework">initial teacher training and early career framework</a> (ITTECF).  
                </p>

                <p class="govuk-body">
                    This sets out the entitlement of every trainee and early career teacher (ECT), what you need to know and know how to do at the start of your career. 
                </p>

                <p class="govuk-body">
                    Training providers are expected to translate this framework into their own curriculum for you to follow. The ITTECF is a minimum entitlement and not a full curriculum or an assessment framework. 
                </p>

                <h2 class="govuk-heading-l">
                    Course structure 
                </h2>

                <p class="govuk-body">
                    Your training should include at least: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>2 placements in contrasting schools </li>
                    <li>120 total days in school placement </li>
                    <li>15 hours on average each week in classrooms (including observing, teaching and co-teaching) </li>
                    <li>6 weeks (30 days) spent teaching 80% of a full teaching timetable </li>
                </ul>

                <h2 class="govuk-heading-l">
                    What your training should include
                </h2>

                <h3 class="govuk-heading-m">
                    Mentoring 
                </h3>

                <p class="govuk-body">
                    You should receive clear, consistent and effective mentoring through structured feedback from expert colleagues. 
                </p>

                <p class="govuk-body">
                    This should use the best available evidence to provide a structured process for improving practice. 
                </p>

                <p class="govuk-body">
                    You must have access to mentors who have expertise in your subject or phase-specific approaches set out in your curriculum.  
                </p>

                <p class="govuk-body">
                    You should receive 1.5 hours per week (per 5 days) of mentoring support.  
                </p>

                <h3 class="govuk-heading-m">
                    Receiving feedback  
                </h3>

                <p class="govuk-body">
                    Your teaching should be observed in order for you to get feedback. This should be on applying a particular approach or approaches to understand what makes it successful or unsuccessful. 
                </p>

                <p class="govuk-body">
                    You should work with expert colleagues to identify areas for and ways of improving practice, seeking challenge and critique from expert colleagues, taking the lead in your own development. 
                </p>

                <h3 class="govuk-heading-m">
                    Opportunities to practise, including through school placements 
                </h3>

                <p class="govuk-body">
                    Providers should ensure that you have multiple opportunities to rehearse and refine particular approaches throughout your training. This could include beginning outside the classroom before using approaches in the classroom. 
                </p>

                <h3 class="govuk-heading-m">
                    Safeguarding  
                </h3>

                <p class="govuk-body">
                    Providers should ensure that you are fully aware of your responsibilities in respect of safeguarding and equalities legislation. 
                </p>

                <h3 class="govuk-heading-m">
                    Intensive training and practise 
                </h3>

                <p class="govuk-body">
                    As part of your training, you should experience a minimum of 4 weeks Intensive Training and Practice (ITaP). This is separate from your school placements and will be on top of your 120 days experience. 
                </p>

                <p class="govuk-body">
                    The ITaP is to enable you to have specific and focused time practicing parts of the teacher training curriculum in an intensive setting. You’ll get immediate and targeted feedback. 
                </p>

                <h2 class="govuk-heading-l">
                    Course content 
                </h2>

                <p class="govuk-body">
                    All teacher training should work towards helping you meet the teachers’ standards. This is what you’ll be assessed against at the end of your training. 
                </p>

                <p class="govuk-body">
                    These standards include behaviour management, pedagogy, curriculum, assessment and professional behaviours. 
                </p>

                <p class="govuk-body">
                    Find out more about <a target="_blank" href="https://teach.education.gov.uk/resources-while-training/meeting-the-teachers-standards">meeting the teachers’ standards.</a>.
                </p>
                
            </div>
            
           
        </div>
        
      
   </div>
</section>

{% include "includes/feedbackcta.html" %}




{% endblock %}
