{% extends "layouts/main.html" %}

{% set pageName="Prepare for your second school placement" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item">Prepare for your second school placement</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Prepare for your second school placement</h1>
                <p class="govuk-body-l">Find out how you can prepare for your second school placement, from accessing the school to your professional conduct.</p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "prepare/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <p class="govuk-body">
                    Your second placement should be at a contrasting school to your first. This might be a different:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>age range</li>
                    <li><a href="https://www.gov.uk/types-of-school">type of school</a> (for example, a faith school, free school or private school)</li>
                    <li>setting (for example, urban or rural)</li>
                    <li>provision (for example, a mainstream or special school)</li>
                </ul>

                <p class="govuk-body">
                    This will give you experience of different approaches to teaching and to school organisation and management.
                </p>

                <h2 class="govuk-heading-l">Find out about your school</h2>

                <p class="govuk-body">
                    You might want to take a look at the website for the school of your second placement. This could help you understand their curriculum and ethos and help you prepare.
                </p>
                
                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            "Your placement schools should be different, so prepare for your school experiences to vary. I was surprised by how much schools can differ."
                        <p class="govuk-body">
                            <strong>English trainee</strong>
                        </p>
                    </div>
                </div>

                <h2 class="govuk-heading-l">Behaviour management</h2>

                <p class="govuk-body">
                    Your new school placement will provide an opportunity to practise different techniques and observe different styles of teaching.
                </p>

                <p class="govuk-body">
                    Different schools will have different behaviour management policies. It’s important that you talk to your new school-based mentor and school staff about what these are.
                </p>

                <h2 class="govuk-heading-l">Placement length</h2>

                <p class="govuk-body">
                    Your second placement length will vary depending on your provider. Some trainees spend 2 weeks in their second placement and some may spend a full term.
                </p>

                <p class="govuk-body">
                    You should talk to your provider to find out how long you will spend in your second placement school.
                </p>

                <h2 class="govuk-heading-l">Increased teaching timetable</h2>

                <p class="govuk-body">
                    Your time spent teaching is likely to increase during your second placement. By the end of your course, you’ll need to have taught at least 6 weeks at 80% of a full teaching timetable.
                </p>

                <p class="govuk-body">
                    If you’re doing a postgraduate certificate in education (PGCE), this may coincide with assignment deadlines. Speak to your mentor to help you understand how your workload will increase and how you can best manage it.
                </p>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “Juggling the workload from school and the academic side was tough. It pays to be organised and to speak to others in your cohort when you’re struggling.”
                        <p class="govuk-body">
                            <strong>English trainee</strong>
                        </p>
                    </div>
                </div>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “I think the biggest challenge was trying to balance my university work with the increasing teaching load. I dealt with this my making a schedule that worked for me. I like to start the day early so I had time after school to enjoy my hobbies.”
                        <p class="govuk-body">
                            <strong>Geography trainee</strong>
                        </p>
                    </div>
                </div>

                <div class="cta-banner govuk-!-margin-bottom-5">
                    <div class="cta-banner-text govuk-!-padding-top-5 govuk-!-padding-bottom-3">
                        <p class="govuk-body-m">
                            “As those assignment deadlines become closer it can get overwhelming knowing what to prioritise- to do lists and timers will become a saviour!”
                        <p class="govuk-body">
                            <strong>Drama trainee</strong>
                        </p>
                    </div>
                </div>

                <h2 class="govuk-heading-l">New school-based mentor</h2>

                <p class="govuk-body">
                    You’ll have a new school-based mentor to support you at each placement school. You’ll continue to receive feedback and develop your teaching practice with their support.
                </p>

                <p class="govuk-body">
                    Your provider-based mentor or tutor will remain the same throughout your course.
                </p>
                
            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "includes/feedbackcta.html" %}



{% endblock %}
