{% extends "layouts/main.html" %}

{% set pageName="Technology in teaching" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item">Technology in teaching</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Technology in teaching </h1>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "prepare/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown">
                
                <p class="govuk-body">
                    Technology will likely play a big role in both your teacher training and teaching career. 
                </p>

                <p class="govuk-body">
                    Schools will likely have their own policies when it comes to using technology in the classroom, but you may be expected to use or develop skills in the following. 
                </p>

                <h2 class="govuk-heading-l">
                    Interactive learning environments 
                </h2>

                <p class="govuk-body">
                    Many teachers use tools like interactive whiteboards and smart displays. You can use these to engage your students with multimedia presentations, interactive quizzes and get real-time feedback. 
                </p>

                <p class="govuk-body">
                    Using a smartboard, you can annotate directly on the screen and display videos. 
                </p>

                <h2 class="govuk-heading-l">
                    Digital collaboration 
                </h2>

                <p class="govuk-body">
                    Some schools use digital collaboration tools to enable students to work together on projects, share resources and communicate. 
                </p>

                <p class="govuk-body">
                    Often, digital platforms might be most used for setting homework. 
                </p>

                <h2 class="govuk-heading-l">
                    Using artificial intelligence (AI) 
                </h2>

                <p class="govuk-body">
                    AI can be used to generate lesson resources, support lesson planning and bring learning to life for pupils. 
                </p>

                <p class="govuk-body">
                    You can <a href="https://www.gov.uk/government/collections/using-ai-in-education-settings-support-materials">the Department for Education’s support materials on using AI in education</a> to learn more. 
                </p>

                <h2 class="govuk-heading-l">
                    Adaptive learning 
                </h2>

                <p class="govuk-body">
                    Technology can support you to cater to each students’ individual needs by providing customised exercises and resources for different pupils. 
                </p>

                <p class="govuk-body">
                    This can be particularly useful for supporting pupils with special educational needs and disabilities (SEND). 
                </p>

                <h2 class="govuk-heading-l">
                    Digital assessments 
                </h2>

                <p class="govuk-body">
                    Many teachers use online assessment tools to make evaluations more engaging and interactive. These platforms offer instant feedback which helps students understand their mistakes and learn from them immediately. 
                </p>

                <p class="govuk-body">
                    You can also use data from these assessments to identify areas where students need more support.  
                </p>

                <h2 class="govuk-heading-l">
                    Virtual and augmented reality 
                </h2>

                <p class="govuk-body">
                    Virtual and augmented reality allows you to take students on virtual trips outside of the classroom and bring topics to life. 
                </p>

                <p class="govuk-body">
                    It provides immersive learning experiences that can make complex subjects more understandable and exciting. 
                </p>

                <h2 class="govuk-heading-l">
                    Digital literacy 
                </h2>

                <p class="govuk-body">
                    As a teacher, you’ll likely be expected to ensure students are digitally literate. This means teaching them how to use technology responsibly, understand online safety and develop critical thinking skills when using digital content. 
                </p>

                <p class="govuk-body">
                    You could <a target="_blank" href="https://www.commonsense.org/education">look at lessons and activities that help students build essential digital habits and skills from Common Sense (opens in new tab)</a>. They’re a non-profit who provide digital learning tools. 
                </p>
                
            </div>
            
           
        </div>
        
      
   </div>
</section>

{% include "includes/feedbackcta.html" %}




{% endblock %}
