<div class="govuk-grid-column-one-quarter hide-mobile">
    <nav class="dfe-vertical-nav govuk-!-margin-top-2">
        <h2 class="dfe-vertical-nav--section-header">Prepare for training</h2>
        <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item {% if pageName == 'How to prepare for teacher training' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="prepare_training">How to prepare for teacher training</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if pageName == 'Prepare for your first school placement' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="prepare_placement">Prepare for your first school placement</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if pageName == 'What to ask your teacher training provider' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="prepare_provider">What to expect from your teacher training provider</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if pageName == 'What to expect from your teacher training mentor' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="prepare_mentor">What to expect from your school-based mentor</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if pageName == 'Advice from former trainees' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="prepare_advice">Advice from former trainees</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if pageName == 'Prepare for your second school placement' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="prepare_secondplacement">Prepare for your second school placement</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if pageName == 'How to be ready for mentoring' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="prepare_secondplacement">How to be ready for mentoring</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if pageName == 'Timeline of initial teacher training (ITT)' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="prepare_timeline">Timeline of your training</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if pageName == 'Workload management' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="prepare_timeline">Workload management</a>
            </li>
        </ul>
    </nav>
</div>

