{% extends "layouts/main.html" %}

{% set pageName="Accessibility statement" %}

{% block content %}


<div class="dfe-content-page--header govuk-!-padding-top-5 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Accessibility statement</h1>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-three-quarters">

                <p class="govuk-body">This accessibility statement applies to Get ready to teach.</p>

                <p class="govuk-body">
                    This website is run by the Department for Education. We want as many people as possible to be able to use this
                    website. For example, that means you should be able to:
                </p>

                <ul class="govuk-list">
                    <li>change colours, contrast levels and fonts</li>
                    <li>zoom in up to 400% without the text spilling off the screen</li>
                    <li>navigate most of the website using just a keyboard</li>
                    <li>navigate most of the website using speech recognition software</li>
                    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
                </ul>

                <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>

                <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" target="_blank" rel="noopener noreferrer">AbilityNet (opens in a new tab)</a> has advice on making your device easier to use if you have a disability.</p>

                <h2 class="govuk-heading-l">How accessible this website is</h2>

                <p class="govuk-body">We know some parts of this website are not fully accessible:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>[most older PDF documents are not fully accessible to screen reader software]</li>
                </ul>

                <h2 class="govuk-heading-l">Feedback and contact information</h2>

                <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read,
                    audio recording or braille email <a class="govuk-link" href="mailto:teacher.training@education.gov.uk">teacher.training@education.gov.uk</a>
                </p>

                <p class="govuk-body">We'll consider your request and get back to you in 7 days.</p>

                <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>

                <p class="govuk-body">We're always looking to improve the accessibility of this website. If you find any problems not listed on
                    this page or think we're not meeting accessibility requirements, contact: <a class="govuk-link" href="mailto:teacher.training@education.gov.uk">teacher.training@education.gov.uk</a>.</p>

                <h2 class="govuk-heading-l">Enforcement procedure</h2>

                <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
                    (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're
                    not happy with how we respond to your complaint, <a rel="noopener noreferrer" href="https://www.equalityadvisoryservice.com/"
                        target="_blank">contact the Equality Advisory and Support Service (opens in a new tab)</a>.</p>

                <h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>

                <p class="govuk-body">The Department for Education is committed to making its websites accessible, in accordance with the Public
                    Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

                <h2 class="govuk-heading-l">Compliance status</h2>

                <p class="govuk-body">This website is partially compliant with the WCAG (Web Content Accessibility Guidelines) version 2.2 AA
                    standard, due to the following non-compliances (and/or) the following exemptions.</p>

                <h3>Non-accessible content</h3>

                <p class="govuk-body">The content is non-accessible for the following reason(s):</p>

                <h4>Non-compliance with the accessibility regulations (example)</h4>

                <ul class="govuk-list govuk-list--bullet">
                    <li>[Some images don't contain alternative text to describe the image which does not meet <a
                            href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/text-equiv-all.html" target="_blank"
                            rel="noopener noreferrer">WCAG version 2.2 AA - 1.1.1 Non-text Content</a>] (example)</li>
                </ul>

                <h2 class="govuk-heading-l">What we're doing to improve accessibility</h2>

                <p class="govuk-body">We have an accessibility audit planned to review the service which will help us identify and issues and improve the accessibility of the service.</p>

                <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>

                <p class="govuk-body">This statement was prepared on [date when it was first published]. It was last reviewed on [date when it
                    was last reviewed].</p>

                <p class="govuk-body">This website was last tested on [date]. The test was carried out internally by the Get ready teach technical team.</p>

                <p class="govuk-body">We tested all pages on the service.</p>

                <p class="govuk-body">Accessibility statement version: 1.0.0</p>
                                
                
            </div>

        </div>
        
      
   </div>
</section>



{% endblock %}
