{% extends "layouts/main.html" %}

{% set pageName="Accessibility statement" %}

{% block content %}


<div class="dfe-content-page--header govuk-!-padding-top-5 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Accessibility statement</h1>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-three-quarters">

                <p class="govuk-body">
                    This accessibility statement applies to Teacher Success.
                </p>
               
                <p class="govuk-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lectus metus, ullamcorper quis tempus eu, consectetur at mauris. Quisque placerat sem ut arcu euismod ullamcorper. Phasellus sed neque bibendum, <a class="govuk-link" href="#">stakeholder map</a>  dui id, faucibus nisi. Duis commodo tempor mi rhoncus tristique. Duis sagittis efficitur magna. Mauris mollis blandit arcu, et blandit urna faucibus et. Proin vel accumsan risus. Cras libero arcu, suscipit vitae faucibus vitae, rutrum eget velit. Duis eget tortor non elit aliquet accumsan ac at magna. Nullam sit amet ex nunc. Nam a velit nec turpis tempus placerat. Nunc semper ipsum nec tempor scelerisque.
                </p>
                
                <p class="govuk-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lectus metus, ullamcorper quis tempus eu, consectetur at mauris. Quisque placerat sem ut arcu euismod ullamcorper. Phasellus sed neque bibendum, <a class="govuk-link" href="#">stakeholder map</a>  dui id, faucibus nisi. Duis commodo tempor mi rhoncus tristique. Duis sagittis efficitur magna. Mauris mollis blandit arcu, et blandit urna faucibus et. Proin vel accumsan risus. Cras libero arcu, suscipit vitae faucibus vitae, rutrum eget velit. Duis eget tortor non elit aliquet accumsan ac at magna. Nullam sit amet ex nunc. Nam a velit nec turpis tempus placerat. Nunc semper ipsum nec tempor scelerisque.
                </p>   
                
                
            </div>

        </div>
        
      
   </div>
</section>



{% endblock %}
