{% extends "layouts/main.html" %}

{% set pageName="Cookies" %}

{% block content %}


<div class="dfe-content-page--header govuk-!-padding-top-5 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Cookies on Teacher Success</h1>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-three-quarters">

                <p class="govuk-body">
                   Cookies are files saved in your phone, tablet or computer when you visit a website or use a digital service.
                </p>
                <p class="govuk-body">
                    We use cookies to collect and store information about how you use the Teaching Vacancies service.
                </p>
            
            </div>

        </div>
        
      
   </div>
</section>



{% endblock %}
