{% extends "layouts/main.html" %}

{% set pageName="Cookies" %}
{% block bodyStart %}
<div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on Get ready to teach">
  <div class="govuk-cookie-banner__message govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">
          Cookies on Get ready to teach
        </h2>
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">We use some essential cookies to make this service work.</p>
          <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
        </div>
      </div>
    </div>
    <div class="govuk-button-group">
      <button type="button" class="govuk-button" data-module="govuk-button">
        Accept analytics cookies
      </button>
      <button type="button" class="govuk-button" data-module="govuk-button">
        Reject analytics cookies
      </button>
      <a class="govuk-link" href="#">View cookies</a>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}


<div class="dfe-content-page--header govuk-!-padding-top-5 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash and flash.length }}
  
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Cookies policy</h1>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-three-quarters">

                <p class="govuk-body">
                   Cookies are small files saved on your phone, tablet or computer when you visit a website.
                </p>
                <p class="govuk-body">
                    We use strictly necessary cookies to make the service work. We also use additional cookies to measure how you use the service and to help us with our marketing and communications. 
                </p>

                <h2 class="govuk-heading-l govuk-!-padding-top-1">Essential cookies</h2>

                <p class="govuk-body">
                    These essential cookies do things like store information about your time on the service and remember your cookie settings.
                </p>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr>
                            <th class="govuk-table__header">Name</th>
                            <th class="govuk-table__header">Purpose</th>
                            <th class="govuk-table__header">Expires</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">teach-cookie-preferences-v1 </td>
                            <td class="govuk-table__cell">Website cookie that stores your cookie preferences </td>
                            <td class="govuk-table__cell">90 days</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">teach_session</td>
                            <td class="govuk-table__cell">Stores encrypted information about your time on the service </td>
                            <td class="govuk-table__cell">When you close your browser</td>
                        </tr>
                    </tbody>
                </table>

                <p class="govuk-body">
                    Essential cookies always need to be on. 
                </p>

                <h2 class="govuk-heading-l govuk-!-padding-top-1">Additional analytics cookies </h2>

                <h3 class="govuk-heading-m govuk-!-padding-top-1">Cookies that measure website use</h3>

                <p class="govuk-body">
                    We use cookies to measure how you use the service. These cookies collect information about: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>the pages you visit </li>
                    <li>how long you spend on each page </li>
                    <li>how you got to the service </li>
                    <li>what you select while using the service </li>
                    <li>any errors you see while using the service </li>
                </ul>

                <p class="govuk-body">
                    We anonymise any personally identifiable information, like your IP address or your postcode before we share it with Google. 
                </p>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr>
                            <th class="govuk-table__header">Name</th>
                            <th class="govuk-table__header">Purpose</th>
                            <th class="govuk-table__header">Expires</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">_ga</td>
                            <td class="govuk-table__cell">Used to distinguish anonymous users</td>
                            <td class="govuk-table__cell">2 years</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">_gid</td>
                            <td class="govuk-table__cell">Used to distinguish anonymous users</td>
                            <td class="govuk-table__cell">24 hours</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">_gat</td>
                            <td class="govuk-table__cell">Used to manage the rate at which page view requests are made</td>
                            <td class="govuk-table__cell">1 minute</td>
                        </tr>
                        
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">_clck</td>
                            <td class="govuk-table__cell">Persists the Clarity User ID and preferences, unique to that site is attributed to the same user ID</td>
                            <td class="govuk-table__cell">12 months</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">_clsk</td>
                            <td class="govuk-table__cell">Connects multiple page views by a user into a single Clarity session recording</td>
                            <td class="govuk-table__cell">1 day</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">CLID</td>
                            <td class="govuk-table__cell">Identifies the first-time Clarity saw this user on any site using Clarity</td>
                            <td class="govuk-table__cell">12 months</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">ANONCHK</td>
                            <td class="govuk-table__cell">This cookie ensures that clicks from advertisement on the Bing search engine are verified and it is used for reporting purposes and for personalisation</td>
                            <td class="govuk-table__cell">10 minutes</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">MR</td>
                            <td class="govuk-table__cell">Indicates whether to refresh MUID</td>
                            <td class="govuk-table__cell">1 week</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">MUID</td>
                            <td class="govuk-table__cell">Identifies unique web browsers visiting Microsoft sites. These cookies are used for advertising, site analytics, and other operational purposes</td>
                            <td class="govuk-table__cell">13 months</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">SM</td>
                            <td class="govuk-table__cell">Used in synchronizing the MUID across Microsoft domains</td>
                            <td class="govuk-table__cell">13 months</td>
                        </tr>
                    </tbody>
                </table>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h3 class="govuk-fieldset__heading">Do you want to accept additional cookies?</h3>
                        </legend>
                        <input value="" autocomplete="off" type="hidden" name="cookies_preferences_form[cookies_consent]" id="cookies_preferences_form_cookies_consent">
                        <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                            <div class="govuk-radios__item"><input id="cookies-preferences-form-cookies-consent-yes-field" class="govuk-radios__input" type="radio" value="yes" checked="checked" name="cookies_preferences_form[cookies_consent]"><label for="cookies-preferences-form-cookies-consent-yes-field" class="govuk-label govuk-radios__label">Yes, use additional cookies</label></div>
                            <div class="govuk-radios__item"><input id="cookies-preferences-form-cookies-consent-no-field" class="govuk-radios__input" type="radio" value="no" name="cookies_preferences_form[cookies_consent]"><label for="cookies-preferences-form-cookies-consent-no-field" class="govuk-label govuk-radios__label">No, do not use additional cookies</label></div>
                        </div>
                    </fieldset>
                </div>

                <form method="post" action="">

                    {{ govukButton({
                    text: "Save changes"
                    }) }}

                </form>
            
            </div>

        </div>
        
      
   </div>
</section>



{% endblock %}
