{% extends "layouts/main.html" %}

{% set pageName="Lesson planning as a trainee teacher" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/resources/resources">Resources while training</a></li>
                <li class="govuk-breadcrumbs__list-item">Lesson planning as a trainee teacher</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Lesson planning as a trainee teacher </h1>
                <p class="govuk-body-l">Find out how lesson planning works as part of your training and explore example lesson planning resources.</p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "resources/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <section class="inset-text yellow govuk-!-margin-top-0 govuk-!-margin-bottom-5">
                    <p class="govuk-!-margin-bottom-0">Department for Education is not responsible for the content of resources outside of GOV.UK. Any links are an example of external resources you may want to use, not an exhaustive list and not a specific recommendation from the Department. You should always refer to the specific advice of your training provider first.</p>
                </section>


                <p class="govuk-body">
                    An important part of your teacher training will be learning how to plan lessons. 
                <p class="govuk-body">
                    You’ll likely have the opportunity to do this alongside your mentor or another class teacher. 
                </p>
                <p class="govuk-body">
                    Your placement school or provider may provide you with supportive materials for this and may require you to use specific templates. 
                </p>
                <p class="govuk-body"><b>
                    You should check with your school and training provider what their requirements are. </b>
                </p>
 
                <h2 class="govuk-heading-l" id="before-you-start">Use the national curriculum</h2>

                <p class="govuk-body">
                    All lesson planning should consider the national curriculum. The national curriculum sets out the programmes of study and attainment targets for all subjects at all 4 key stages.                 
                </p>
                <p class="govuk-body">
                    All local-authority-maintained schools in England must teach these programmes of study. 
                </p>
                <p class="govuk-body">
                    You might want to <a href="https://www.gov.uk/government/collections/national-curriculum">read the national curriculum</a> for your key stage or subject to help you understand what you’ll be teaching. 
                </p>
                <p class=""govuk-body">
                    To see how this works in practise, you could watch recorded lessons from other teachers, for example, from <a href="https://www.thenational.academy/teachers">Oak National Academy</a>.</p>
                <p class="govuk-body">
                    You can also look at your placement school’s website to understand what is covered on their specific curriculum and how they implement this. 
                </p>
            
                <h2 class="govuk-heading-l" id="before-you-start">How lesson planning works </h2>

                <p class="govuk-body">
                    An important part of lesson planning will be how you incorporate:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>assessment for learning</li>
                    <li>adaptive teaching</li>
                    <li>schemes of work, if relevant</li>
                </ul>

                <h3 class="govuk-heading-m" id="before-you-start">Assessment for learning  </h3>
                
                <p class="govuk-body">
                    Assessment for learning is how you’re measuring the progress of the students in your lessons. 
                </p>
                <p class="govuk-body">
                   You need to know if your students have understood what you’ve just taught them and how you can assess this as part of your lesson.  
                </p>

                <h3 class="govuk-heading-m" id="before-you-start">Adaptive teaching </h3>
                
                <p class="govuk-body">
                    Adaptive teaching is how you adjust your teaching if your students have not understood something.  
                </p>

                <h3 class="govuk-heading-m" id="before-you-start">Schemes of work </h3>
                
                <p class="govuk-body">
                    Some schools will use specific schemes of work – this is where each lesson is part of a wider, structured plan of how subjects will be delivered.   
                </p>

                <p class="govuk-body">
                    Schemes of work operate as a roadmap for teachers to help them plan and deliver lessons consistently. 
                </p>

                <p class="govuk-body">
                    You should talk to your placement school about any schemes they follow. 
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">Curriculum Hubs </h2>

                <p class="govuk-body">
                    Department for Education funds a national network of <a href="https://www.gov.uk/government/publications/access-support-from-school-hubs/subject-hubs">Curriculum Hubs</a> via the Education Endowment Foundation.

                <p class="govuk-body">
                    They’re designed to help you develop expertise in teaching a specific subject and offer support to schools or individuals. Some hubs only target specific phases of education, for example, English hub support is for primary schools whereas languages hub support is for secondary schools.
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">Subject associations </h2>

                <p class="govuk-body">
                    As part of your teacher training, you may want to <a href="https://www.subjectassociations.org.uk/our-members/">find and join a subject association</a>. They provide access to resources and professional development. 
                </p>

                <p class="govuk-body">
                    Some will provide access to free resources whereas some will require a membership fee. 
                </p>

                <div class="prompt prompt-home">
                    <div class="govuk-grid-row">
                      
                        <div class="govuk-grid-column-one-quarter">
                            <svg aria-describedby="info icon" class="svg-inline--fa fa-circle-info fa-2x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-info" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"></path>
                            </svg>
                            <!-- <i aria-describedby="info icon" class="fa-2x fa-solid fa-circle-info"></i> Font Awesome fontawesome.com -->
                        </div>
                        <div class="prompt__container">
                            <h2 id="lesson-planning" class="govuk-heading-l govuk-!-margin-bottom-">Lesson planning resources</h2>
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-padding-left-0">National Education Union tips</h3>
                            <p class="govuk-body">
                                Before you start your training, you could <a href="https://neu.org.uk/advice/member-groups/students-and-trainees/lesson-planning-tips-trainees">read some lesson planning tips for trainees from the National Education Union</a>.
                            </p>

                            <h3 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-padding-left-0">NASBTT’s subject resources</h3>
                            <p class="govuk-body">
                                NASBTT is a registered charity which supports trainees doing school-led teacher training. 
                            </p>

                            <p class="govuk-body">
                                They offer subject resources which you need a login to access. 
                            </p>

                            <p class="govuk-body">
                                <a href="https://www.nasbtthub.org.uk/">Use NASBTT subject resources</a>. 
                            </p>

                            <h3 class="govuk-heading-m" id="before-you-start">Oak National Academy </h3>

                            <p class="govuk-body">
                            If you’re looking for more inspiration for your lesson planning, you could consider resources from Oak National Academy for:
                            </p>

                            <ul class="govuk-list govuk-list--bullet">
                                <li><a href="https://www.thenational.academy/teachers/key-stages/ks3/subjects">key stage 3 (KS3)</a></li>
                                <li><a href="https://www.thenational.academy/teachers/key-stages/ks4/subjects">key stage 4 (KS4)</a></li>
                            </ul>

                        </div>
                    </div>
                </div>

                
            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "includes/feedbackcta.html" %}



{% endblock %}
