{% extends "layouts/main.html" %}

{% set pageName="Behaviour management" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/resources/resources">Resources while training</a></li>
                <li class="govuk-breadcrumbs__list-item">Behaviour management </li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Behaviour management </h1>
                <p class="govuk-body-l">Find out what you need to know about behaviour management as part of your teacher training along with links to resources and tips for new teachers.</p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "resources/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <section class="inset-text yellow govuk-!-margin-top-0 govuk-!-margin-bottom-5">
                    <p class="govuk-!-margin-bottom-0">Department for Education is not responsible for the content of resources outside of GOV.UK. Any links are an example of external resources you may want to use, not an exhaustive list and not a specific recommendation from the Department. You should always refer to the specific advice of your training provider first.</p>
                </section>

                <p class="govuk-body">
                    Learning how to manage behaviour in a classroom will be a key part of your teacher training. 
                <p class="govuk-body">
                    But don’t worry – your provider and placement schools will work together to teach you different techniques and practices and will be there to provide support and advice for any challenges you face. 
                </p>

                <h2 class="govuk-heading-l" id="before-you-start">Things to consider</h2>

                <p class="govuk-body">
                    Each school will have its own behaviour management policy so it’s important to check what your school has in place. 
                </p>
                <p class="govuk-body">
                    When you start your placement, you might want to consider if you know: 
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>what your school’s behaviour management policy is </li>
                    <li>how to record and share good behaviour and achievements </li>
                    <li>how to report a behaviour incident and implement any sanctions for challenging behaviour – will you need access to any systems to do this? </li>
                    <li>if there are any children in your class with special educational needs or disabilities (SEND) or a behaviour support plan and how you will be expected to support them </li>
                </ul>

                <div class="prompt prompt-home">
                    <div class="govuk-grid-row">
                      
                        <div class="govuk-grid-column-one-quarter">
                            <svg aria-describedby="info icon" class="svg-inline--fa fa-circle-info fa-2x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-info" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"></path>
                            </svg>
                            <!-- <i aria-describedby="info icon" class="fa-2x fa-solid fa-circle-info"></i> Font Awesome fontawesome.com -->
                        </div>
                        <div class="prompt__container">
                            <h2 class="govuk-heading-l" id="before-you-start">Behaviour management resources </h2>

                            <p class="govuk-body">
                            You can <a href="https://www.gov.uk/government/publications/initial-teacher-training-itt-core-content-framework/the-trainee-teacher-behavioural-toolkit-a-summary">read the Department for Education’s trainee teacher behavioural toolkit</a>.  
                            </p>
                            
                            <p class="govuk-body">
                                The important thing to remember is that no technique is universal. Different things will work in different situations. 
                            </p>
                            <p class="govuk-body">
                            If you find that what you’re implementing is not effective, talk to your mentor and tutor about other alternatives.  
                            </p>
                

                            <p>You could also: </p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>read <a href="https://neu.org.uk/advice/member-groups/new-teachers/behaviour-tips-trainee-teachers">behaviour tips for teacher trainees from the National Education Union</a></li>
                                <li>watch <a href="https://www.nasuwt.org.uk/advice/student-hub/top-behaviour-management-tips-from-nqts.html">top behaviour management tips for new teachers from NASUWT</a></li>
                                <li>explore <a href="https://my.chartered.college/ecf_framework/ecf-standard-7-managing-behaviour/">The Chartered College of Teaching’s managing behaviour resources</a></li>
                            </ul>

                        </div>
                    </div>
                </div>


                
            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "includes/feedbackcta.html" %}



{% endblock %}
