{% extends "layouts/main.html" %}

{% set pageName="Meeting the teachers' standards" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Get ready to teach</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/resources/resources">Resources while training</a></li>
                <li class="govuk-breadcrumbs__list-item">Meeting the teachers’ standards</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Meeting the teachers’ standards </h1>
                <p class="govuk-body-l">Find out what the teachers’ standards are that you’ll need to meet to achieve qualified teacher status and how you might be asked to evidence them.</p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "resources/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <p class="govuk-body">
                    At the end of your training, your provider will recommend you for qualified teacher status (QTS) if they think that you've met the <a target="_blank" href="https://www.gov.uk/government/publications/teachers-standards">teachers' standards (opens in new tab)</a>.  
                <p class="govuk-body">
                     QTS is what you need to teach in maintained primary, secondary and special schools in England (and soon, academies, too). 
                </p>
                
                <h2 class="govuk-heading-l a" id="before-you-start" style="padding:0px; width:100%;">The teachers’ standards </h2>

                <h2 class="govuk-heading-l yellow b" id="before-you-start">The teachers’ standards </h2>

                <h3 class="govuk-heading-m a" id="before-you-start" style="padding:0px; width:100%;">Teaching </h3>

                <h3 class="govuk-heading-m yellow b" id="before-you-start">Teaching </h3>

                <p class="govuk-body">
                    There are 8 standards you’ll work towards. 
                </p>

                <ol class="govuk-list govuk-list--number">
                    <li>Set high expectations which inspire, motivate and challenge pupils.</li>
                    <li>Promote good progress and outcomes by pupils. </li>
                    <li>Demonstrate good subject and curriculum knowledge. </li>
                    <li>Plan and teach well structured lessons. </li>
                    <li>Adapt teaching to respond to the strengths and needs of all pupils. </li>
                    <li>Make accurate and productive use of assessment. </li>
                    <li>Manage behaviour effectively to ensure a good and safe learning environment. </li>
                    <li>Fulfil wider professional responsibilities. </li>
                </ol>

                <h3 class="govuk-heading-m a" id="before-you-start" style="padding:0px; width:100%;">Personal and professional conduct  </h3>

                <h3 class="govuk-heading-m yellow b" id="before-you-start">Personal and professional conduct  </h3>

                <p class="govuk-body">
                    A teacher is expected to demonstrate consistently high standards of personal and professional conduct. 
                </p>
                <p class="govuk-body">
                    The following statements define the behaviour and attitudes which set the required standard for conduct throughout a teacher’s career. 
                </p>

                <ol class="govuk-list govuk-list--number">
                    <li>Teachers uphold public trust in the profession and maintain high standards of ethics and behaviour, within and outside school, by: 
                        <ul class="govuk-list govuk-list--bullet">
                            <li>treating pupils with dignity, building relationships rooted in mutual respect, and at all times observing proper boundaries appropriate to a teacher’s professional position </li>
                            <li>having regard for the need to safeguard pupils’ well-being, in accordance with statutory provisions </li>
                            <li>showing tolerance of and respect for the rights of others </li>
                            <li>not undermining fundamental British values, including democracy, the rule of law, individual liberty and mutual respect, and tolerance of those with different faiths and beliefs </li>
                            <li>ensuring that personal beliefs are not expressed in ways which exploit pupils’ vulnerability or might lead them to break the law. </li>
                        </ul>
                    </li>
                    <li>Teachers must have proper and professional regard for the ethos, policies and practices of the school in which they teach and maintain high standards in their own attendance and punctuality. </li>
                    <li>Teachers must have an understanding of, and always act within, the statutory frameworks which set out their professional duties and responsibilities. </li>
                </ol>

                <h2 class="govuk-heading-l a" id="before-you-start" style="padding:0px; width:100%;">When you’ll be assessed and how </h2>

                <h2 class="govuk-heading-l yellow b" id="before-you-start">When you’ll be assessed and how </h2>

                <p class="govuk-body">
                    You will not be assessed against the teachers’ standards until the end of your course. 
                </p>

                <p class="govuk-body">
                    But throughout your training, you’ll be assessed against your individual provider’s initial teacher training curriculum. 
                </p>
                <p class="govuk-body">
                    Different training providers will ask you to evidence this in different ways. You should speak to your provider-based mentor or tutor to understand exactly what you need to do. 
                </p>
                <p class="govuk-body">
                    You should do this at the start of your course so you know what evidence to gather as you go. 
                </p>
                <p class="govuk-body">
                    This could include: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>lesson plans </li>
                    <li>observing other teachers at your school and reflecting on their practice </li>
                    <li>conversations with your mentor </li>
                    <li>classroom observations conducted by your mentor or other experienced teachers </li>
                    <li>reflective learning journals </li>
                </ul>
                
                
            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "feedbackcta.html" %}


{% endblock %}
