<div class="govuk-grid-column-one-quarter hide-mobile">
    <nav class="dfe-vertical-nav govuk-!-margin-top-2">
        <h2 class="dfe-vertical-nav--section-header">Resources while training</h2>
        <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item {% if pageName == 'Lesson planning as a trainee teacher' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="resources_lesson">Lesson planning as a trainee teacher </a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if pageName == 'Behaviour management' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="resources_behaviour">Behaviour management</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if pageName == "Meeting the teachers' standards" %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="resources_standards">Meeting the teachers' standards</a>
            </li>
        </ul>
    </nav>
</div>

