{% extends "layouts/main.html" %}

{% set pageName="prepare" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/dfe">Get ready to teach</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Prepare for training</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Trainee starter checklist</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Get school experience</h1>
                <p class="govuk-body-l">Request school experience in a primary or secondary school to prepare you for training.</p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <nav class="dfe-vertical-nav govuk-!-margin-top-2">
                    <h2 class="dfe-vertical-nav--section-header">Prepare for training</h2>
                    <ul class="dfe-vertical-nav__section">
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="checklist">Trainee starter checklist</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
                        <a class="dfe-vertical-nav__link" href="prepare_content">Get school experience</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Advice from past trainees</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Trainee starter checklist</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Timeline of your training year</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Prepare for your first school placement</a>
                    </li>
                    <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="#">Learn about PGCE expectations and best practice</a>
                    </li>
                </ul>
                </nav>
            </div>
            <div class="govuk-grid-column-three-quarters">

                <h2 class="govuk-heading-l" id="before-you-start">This is a title in a h2</h2>

                <p class="govuk-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lectus metus, ullamcorper quis tempus eu, consectetur at mauris. Quisque placerat sem ut arcu euismod ullamcorper. Phasellus sed neque bibendum, <a class="govuk-link" href="#">stakeholder map</a>  dui id, faucibus nisi. Duis commodo tempor mi rhoncus tristique. Duis sagittis efficitur magna. Mauris mollis blandit arcu, et blandit urna faucibus et. Proin vel accumsan risus. Cras libero arcu, suscipit vitae faucibus vitae, rutrum eget velit. Duis eget tortor non elit aliquet accumsan ac at magna. Nullam sit amet ex nunc. Nam a velit nec turpis tempus placerat. Nunc semper ipsum nec tempor scelerisque.
                </p>
                <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="#">link</a></li>
                <li><a class="govuk-link" href="#">link</a></li>
                </ul>

                <p class="govuk-body">Bullets:  </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>bullet</li>
                    <li>bullet</li>
                    <li>bullet</li>
                </ul>
                <p class="govuk-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lectus metus, ullamcorper quis tempus eu, consectetur at mauris. Quisque placerat sem ut arcu euismod ullamcorper. Phasellus sed neque bibendum, <a class="govuk-link" href="#">stakeholder map</a>  dui id, faucibus nisi. Duis commodo tempor mi rhoncus tristique. Duis sagittis efficitur magna. Mauris mollis blandit arcu, et blandit urna faucibus et. Proin vel accumsan risus. Cras libero arcu, suscipit vitae faucibus vitae, rutrum eget velit. Duis eget tortor non elit aliquet accumsan ac at magna. Nullam sit amet ex nunc. Nam a velit nec turpis tempus placerat. Nunc semper ipsum nec tempor scelerisque.
                </p>   
                <!--
                <div class="light-grey-box govuk-!-margin-top-8 govuk-!-margin-bottom-4">
                    <h2 id="ready-to-get-started" class="govuk-heading-m">Ready to get started?</h2>
                    <p class="govuk-body-m">Enrol on this course and begin your first module.
                        You will need to sign in or create an account before starting a module.
                    </p>
                    <div class="govuk-button-group"><a class="govuk-link" href="/users/sign-in">Create an account or sign in</a></div>
                </div>
                -->
                
            </div>

        </div>
        
      
   </div>
</section>


<div id="feedback-cta">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <p class="govuk-body-m">Give feedback to help us improve this website.</p>
            <a class="govuk-link govuk-button govuk-button--inverse" data-module="govuk-button" href="prepare_content">Give Feedback</a>
         </div>
      </div>
   </div>
</div>


{% endblock %}
