{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

  <!--
  <div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
      <div class="govuk-grid-row govuk-!-padding-top-4">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Teacher Success Hub</h1>
          <p class="govuk-body-l">Whether you want information on training, resources during training, or a space to connect with other trainees, the Teacher Training Hub is the place for all trainees.</p>
        </div>
      </div>
    </div>
  </div>
  -->


    <div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
        <div class="dfe-width-container">
            <div class="govuk-grid-row govuk-!-padding-top-4">
               
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Teacher Training Hub</h1>
                    <p class="govuk-body-l">
                        <span>Hi <span id="name" style="text-transform: capitalize;"></span> 👋 whether you want information on training, resources during training, or a space to connect with other trainees, the Teacher Training Hub is the place for all trainees.
                    </p>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-padding-top-2">
                    <img src="/public/images/teacherlogo.svg" class="teaching-fe-logo logo" alt="teaching fe logo" tabindex="-1">
                </div>
            </div>
        </div>
    </div>

<div class="govuk-width-container">


    <div class="govuk-main-wrapper">
            
        <section class="image-blocks">
            <div class="image-block">
                <picture>
                    <img src="/public/images/teacher1.png" alt="Sample Image">
                </picture>
                <h2 class="heading--overlap heading--highlight-yellow heading--margin-top-0 heading-xl">
                    <span>Prepare for training</span>
                </h2>
                <ul>
                    <li><a href="#" class="govuk-link--no-visited-state">Prepare for your first school placement</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Prepare for training</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">What to expect from your mentor</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">What to expect from your provider</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Hear from former trainees</a></li>
                </ul>
                
            </div>
            <div class="image-block">
                <picture>
                    <img src="/public/images/teacher2.png" alt="Sample Image">
                </picture>
                <h2 class="heading--overlap heading--highlight-pink heading--margin-top-0 heading-xl">
                    <span>Resources</span>
                </h2>
                <ul>
                    <li><a href="#" class="govuk-link--no-visited-state">Lesson planning resources</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Behaviour management resources</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Meet the teachers' standards</a></li>
                </ul>
                
            </div>
            <div class="image-block">
                <picture>
                    <img src="/public/images/teacher7.png" alt="Sample Image">
                </picture>
                <h2 class="heading--overlap heading--highlight-green heading--margin-top-0 heading-xl">
                    <span>Get support</span>
                </h2>
                <ul>
                    <li><a href="#" class="govuk-link--no-visited-state">Support from within your course</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Support available outside your course</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Financial support guidance</a></li>
                </ul>
            </div>
        </section>  

        <section class="govuk-!-margin-top-5 govuk-!-margin-bottom-2">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner">
                        <div class="cta-banner-text">
                        <h2 class="govuk-heading-l">Give training feedback</h2>
                        <p class="govuk-body-m">
                            You're halfway through your training year. Give quick feedback on how you've found it so far. Your views can make a difference for future trainees.
                        </p>
                        <p class="govuk-!-margin-bottom-">
                            <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                               Complete the simple feedback form
                            </button>
                        </p>
                        </div>
                        <div class="cta-banner-img">
                            <img src="/public/images/teacher4.png" alt="Sample Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        
    </div>
    
</div>


<div id="feedback-cta">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <p class="govuk-body-m">Give feedback to help us improve this website.</p>
            <a class="govuk-link govuk-button govuk-button--inverse" data-module="govuk-button" href="dfe">Give Feedback</a>
         </div>
      </div>
   </div>
</div>
{% endblock %}
