{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

  <!--
  <div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
      <div class="govuk-grid-row govuk-!-padding-top-4">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Teacher Success Hub</h1>
          <p class="govuk-body-l">Whether you want information on training, resources during training, or a space to connect with other trainees, the Teacher Training Hub is the place for all trainees.</p>
        </div>
      </div>
    </div>
  </div>
  -->


    <div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
        <div class="dfe-width-container">
            <div class="govuk-grid-row govuk-!-padding-top-4">
               
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Teacher Training Hub</h1>
                    <p class="govuk-body-l">
                        Whether you want information on training, resources during training, or a space to connect with other trainees, the Teacher Training Hub is the place for all trainees.
                    </p>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-padding-top-2">
                    <img src="/public/images/teacherlogo.svg" class="teaching-fe-logo logo" alt="teaching fe logo" tabindex="-1">
                </div>
            </div>
        </div>
    </div>


<div class="govuk-width-container">


    <div class="govuk-main-wrapper">

        <div class="dfe-grid-container">
            
            <div class="dfe-card">
                <img src="/public/images/teacher1.png" alt="Sample Image">
                <div class="dfe-card-container">
                <h3 class="govuk-heading-m">
                    <a href="/prepare/prepare" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Prepare for training</a>
                </h3>
                <p>
                    Find out more about what your training year will look like.
                </p>
                </div>
            </div>

            <div class="dfe-card">
                <img src="/public/images/teacher2.png" alt="Sample Image">
                <div class="dfe-card-container">
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Resources while training</a>
                </h3>
                <p>
                    Get help with teacher resources available to you.
                </p>
                </div>
            </div>

            <div class="dfe-card">
                <img src="/public/images/teacher7.png" alt="Sample Image">
                <div class="dfe-card-container">
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get support</a>
                </h3>
                <p>
                    Get help with teacher resources available to you.
                </p>
                </div>
            </div>

        </div>

        

       

    </div>
    
</div>

<section style="background-color:#f3f2f1;" class="govuk-!-margin-top-0 govuk-!-padding-top-7 govuk-!-padding-bottom-7">
        <div class="govuk-width-container">
          
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="hf-cta-block">
                        <div>
                            <div class="hf-icon">
                                <svg height="32" viewBox="0 0 448 512" width="30" xmlns="http://www.w3.org/2000/svg"><path d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v25.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm0 96c61.9 0 112 50.1 112 112v25.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V208c0-61.9 50.1-112 112-112zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"></path></svg>
                            </div>
                        </div>
                        <div class="govuk-!-padding-top-2">
                            <h3>Search for your teaching role</h3>
                            <p>Most schools advertise their roles this time of year. Visit Teaching Vacancies to view roles available for September. You can also set up a job alert.</p>
                            <p><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" target="_blank" href="https://teaching-vacancies.service.gov.uk/">
                                Find roles on Teaching Vacancies (opens in new tab)
                            </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="hf-cta-block">
                        <div>
                            <div class="hf-icon">
                                <svg height="32" viewBox="0 0 512 512" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z"></path></svg>
                            </div>
                        </div>
                        <div class="govuk-!-padding-top-2">
                            <h3>Give training feedback</h3>
                            <p>You're halfway through your training year. Give quick feedback on how you've found it so far. Your views can make a difference for future trainees.</p>
                            <p>
                                <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" target="_blank" href="#">
                                    Complete the simple feedback form  (opens in new tab)
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
   

<div id="feedback-cta">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <p class="govuk-body-m">Give feedback to help us improve this website.</p>
            <a class="govuk-link govuk-button govuk-button--inverse" data-module="govuk-button" href="dfe">Give Feedback</a>
         </div>
      </div>
   </div>
</div>
{% endblock %}
