{% extends "layouts/email.html" %}

{% set pageName="Email" %}

{% block content %}


  <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Congratulations <span style="text-transform: capitalize;" id="name"></span></h1>
            <h2 class="govuk-heading-m">You're becoming a teacher!</h2>

            <img style="max-width: 100%;" src="/public/images/teacher6.png" alt="Sample Image">
            
            <p class="govuk-body govuk-!-margin-top-3"><b>Hi <span style="text-transform: capitalize;" id="name2"></span></b></p>
            <p class="govuk-body"><b>Congratulations on securing your teacher training place.</b></p>
            <p class="govuk-body">The Department for Education is here to help you prepare for your training and to support you along the way.</p>
            <p class="govuk-body">Find information to help you prepare for training.</p>
            
            <p class="govuk-!-margin-bottom-9">
                <a id="emailsubmit" href="/form?utm_test=atest" style="text-decoration:none;" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                    Get ready to teach
                </a>
            </p>

          </div>
        </div>

  </div>

   


{% endblock %}
