{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

  <!--
  <div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
      <div class="govuk-grid-row govuk-!-padding-top-4">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Teacher Success Hub</h1>
          <p class="govuk-body-l">Whether you want information on training, resources during training, or a space to connect with other trainees, the Get ready to teach service is the place for all trainees.</p>
        </div>
      </div>
    </div>
  </div>
  -->

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-4">              
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Get ready to teach</h1>
                <p class="govuk-body-l">
                    <span>Hi <span id="name" style="text-transform: capitalize;"></span> 👋 whether you want information on training, resources during training, or a space to connect with other trainees, the Get ready to teach service is the place for all trainees.
                </p>
            </div>
            <div class="govuk-grid-column-one-third govuk-!-padding-top-2">
                <img src="/public/images/teacherlogo.svg" class="teaching-fe-logo logo" alt="teaching fe logo" tabindex="-1">
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container">


    <div class="govuk-main-wrapper">
            
        <section class="govuk-!-margin-top- govuk-!-margin-bottom-7 a">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner" style="background-color:#f0f0f0;">
                        <div class="cta-banner-text">
                        <h2 class="govuk-heading-l">Tips to prepare for your training year</h2>
                        <p class="govuk-body-m">
                            Find out what happens and when during your training year whether you’re on a university or school led teacher training programme.
                        </p>
                        <p class="govuk-!-margin-bottom-">
                            <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                               Find out more
                            </button>
                        </p>
                        </div>
                        <div class="cta-banner-img">
                            <img src="/public/images/teacher1.png" alt="Sample Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="govuk-!-margin-top- govuk-!-margin-bottom-7 b">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner">
                        <div class="cta-banner-text">
                        <h2 class="govuk-heading-l">Tips to prepare for your training year</h2>
                        <p class="govuk-body-m">
                            Find out what happens and when during your training year whether you’re on a university or school led teacher training programme.
                        </p>
                        <p class="govuk-!-margin-bottom-">
                            <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                               Find out more
                            </button>
                        </p>
                        </div>
                        <div class="cta-banner-img">
                            <img src="/public/images/teacher1.png" alt="Sample Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Your next steps to feeling placement ready</h2>

        <section class="homepage-feature blocks col-space-m-top ">
            <div class="call-to-action call-to-action--homepage govuk-!-margin-bottom-7">
                <!--
                <div>
                    <picture>
                        <img class="call-to-action__icon" src="/public/images/tick.svg" alt="" aria-hidden="true" width="50" height="50">
                    </picture>
                </div>
                -->
                <div class="call-to-action__content">
                    <h3 class="call-to-action__heading"><span>What you’ll need for your first placement</span></h3>
                    <p>Find out how you can prepare for your first school placement, including questions you might want to ask your provider or school.</p>
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Find out more
                    </button>
                </div>
                
                <div style="background-image: url('/public/images/teacher3.png')" class="call-to-action__image"></div>
            </div>
            <div class="call-to-action call-to-action--homepage govuk-!-margin-bottom-7">
                <!--
                <div>
                    <picture>
                        <img class="call-to-action__icon" src="/public/images/tick.svg" alt="" aria-hidden="true" width="50" height="50">
                    </picture>
                </div>
                -->
                <div class="call-to-action__content">
                    <h3 class="call-to-action__heading"><span>What to expect from your mentor</span></h3>
                    <p>Find out what to expect from your teacher training mentor, how they’ll assess you, and where else you can get support during your training.</p>
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Find out more
                    </button>
                </div>
                
                <div style="background-image: url('/public/images/teacher6.png')" class="call-to-action__image"></div>
            </div>
        </section>
        
            
        <section class="a">
            <div class="dfe-grid-container">
            
            <div class="three-col">                
                <h3 class="govuk-heading-m">
                    Prepare for training
                </h3>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Trainee starter checklist</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Get school experience</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Advice from past trainees</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Trainee starter checklist</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Timeline of your training year</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Prepare for your first school placement</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Learn about PGCE expectations and best practice</a>
                    </li>
                </ul>
            </div>

            <div class="three-col">                
                <h3 class="govuk-heading-m">
                    Resources while training
                </h3>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Lesson planning</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Behaviour management</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Learn how to evidence QTS</a>
                    </li>
                </ul>
            </div>

            <div class="three-col">                
                <h3 class="govuk-heading-m">
                    Get support
                </h3>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Peer network</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Wellbeing support</a>
                    </li>
                 </ul>
            </div>

            
        </div>

        </section>  

        <section class="image-blocks govuk-!-margin-top-5 b">
            <div class="image-block govuk-!-margin-bottom-3">
                <!--
                <picture>
                    <img src="/public/images/teacher1.png" alt="Sample Image">
                </picture>
                -->
                <h2 class="heading--overlap heading--highlight-yellow heading--margin-top-0 heading-xl">
                    <span>Prepare for training</span>
                </h2>
                <ul>
                    <li><a href="#" class="govuk-link--no-visited-state">Prepare for your first school placement</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Prepare for training</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">What to expect from your mentor</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">What to expect from your provider</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Hear from former trainees</a></li>
                </ul>
                
            </div>
            <div class="image-block govuk-!-margin-bottom-3">
                <!--
                <picture>
                    <img src="/public/images/teacher2.png" alt="Sample Image">
                </picture>
                -->
                <h2 class="heading--overlap heading--highlight-pink heading--margin-top-0 heading-xl">
                    <span>Resources</span>
                </h2>
                <ul>
                    <li><a href="#" class="govuk-link--no-visited-state">Lesson planning resources</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Behaviour management resources</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Meet the teachers' standards</a></li>
                </ul>
                
            </div>
            <div class="image-block govuk-!-margin-bottom-3">
                <!--
                <picture>
                    <img src="/public/images/teacher7.png" alt="Sample Image">
                </picture>
                -->
                <h2 class="heading--overlap heading--highlight-green heading--margin-top-0 heading-xl">
                    <span>Get support</span>
                </h2>
                <ul>
                    <li><a href="#" class="govuk-link--no-visited-state">Support from within your course</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Support available outside your course</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Financial support guidance</a></li>
                </ul>
            </div>
        </section>  

        <section class="govuk-!-margin-top-5 govuk-!-margin-bottom-2">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner">
                        <div class="cta-banner-text">
                        <h2 class="govuk-heading-l">Give training feedback</h2>
                        <p class="govuk-body-m">
                            You're halfway through your training year. Give quick feedback on how you've found it so far. Your views can make a difference for future trainees.
                        </p>
                        <p class="govuk-!-margin-bottom-">
                            <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                               Complete the simple feedback form
                            </button>
                        </p>
                        </div>
                        <div class="cta-banner-img">
                            <img src="/public/images/teacher4.png" alt="Sample Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
    
</div>


<div id="feedback-cta">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <p class="govuk-body-m">Give feedback to help us improve this website.</p>
            <a class="govuk-link govuk-button govuk-button--inverse" data-module="govuk-button" href="dfe2">Give Feedback</a>
         </div>
      </div>
   </div>
</div>


{% endblock %}
