{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


  <div class="govuk-width-container">

      <div class="govuk-main-wrapper">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Concepts</h1>
            <p class="govuk-body">Collection of concept prototype designs.</p>

            <h2 class="govuk-heading-m">Test B - the chosen route</h2>
            
            <ul class="govuk-list">
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/email">test B</a>
              </li>
            </ul>

            <h2 class="govuk-heading-m">Old designs</h2>
            
            <ul class="govuk-list">
              <li>
                Only includes home page and prepare section <a class="govuk-link govuk-link--no-visited-state" href="/testastyle/home">test A</a>
              </li>
            </ul>
            
          </div>
        </div>

      </div>

  </div>

   


{% endblock %}
