{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


  <div class="govuk-width-container">

      <div class="govuk-main-wrapper">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Concepts</h1>
            <p class="govuk-body">Collection of concept prototype designs for Teacher Success Hub</p>
            
            <ul class="govuk-list">
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#">GOV design</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="dfe">DFE design</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="experimental">DFE & GIT Experimental design</a>
              </li>
            </ul>
          </div>
        </div>

      </div>

  </div>

   


{% endblock %}
