{% extends "layouts/main.html" %}

{% set pageName="prepare" %}

{% block content %}



<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Sign in</h1>
                
                <p class="govuk-body">Create your GOV.UK One Login account using the same email address as you have signed in on other DFE services to automatically save your account details.</p>
                <p class="govuk-body">If you use a different email address, you'll be able to transfer your account details after signing in.</p>
                <a class="govuk-button govuk-!-margin-bottom-6" data-module="govuk-button" href="/profile/profile" data-govuk-button-init="">Continue to GOV.UK One Login</a>
               
            </div>

        </div>
        
      
   </div>
</section>




{% endblock %}
