<div class="govuk-grid-column-one-quarter hide-mobile">
    <nav class="dfe-vertical-nav govuk-!-margin-top-2">
        <h2 class="dfe-vertical-nav--section-header">Get support</h2>
        <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item {% if pageName == 'Support through your training course' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="support_course">Get support through your training course</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if pageName == 'Get support' %} dfe-vertical-nav__section-item--current {% endif %}">
                <a class="dfe-vertical-nav__link" href="support_outside">Get support outside your training</a>
            </li>
        </ul>
    </nav>
</div>

