{% extends "layouts/main.html" %}

{% set pageName="Get support" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Get ready to teach</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/support/support">Get support</a></li>
                <li class="govuk-breadcrumbs__list-item">Get support</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Get support</h1>
                <p class="govuk-body-l">Find out what support you'll get as part of your teacher training course.</p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "support/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <p class="govuk-body">
                    If you need to talk to someone outside of your training provider or placement schools, there are places you can reach out to. 
                </p>

                <section class="inset-text yellow b">
                    <p class="govuk-body">
                        Department for Education is not responsible for the content of resources outside of GOV.UK.  These links are an example of external resources trainees may want to use and may include paid for services. 
                    </p>
                </section>
                
                <h2 class="govuk-heading-l a" id="before-you-start" style="padding:0px; width:100%;">Education Support charity</h2>

                <h2 class="govuk-heading-l yellow b" id="before-you-start">Education Support charity</h2>

                <p class="govuk-body">
                    The Education Support charity provides a helpline for teacher trainees, offering immediate, confidential support. 
                </p>

                <h3 class="govuk-heading-m a" id="before-you-start" style="padding:0px; width:100%;">Need to talk?</h3>

                <h3 class="govuk-heading-m yellow b" id="before-you-start">Need to talk?</h3>

                <p class="govuk-body">
                    Call <a href="tel:08000562561" class="telephone link">08000 562 561</a>
                </p>

                <p class="govuk-body">
                    You can also use <a href="https://www.educationsupport.org.uk/resources/for-individuals/">Education Support's wellbeing resources (opens in new tab)</a>. 
                </p>

                <h2 class="govuk-heading-l a" id="before-you-start" style="padding:0px; width:100%;">Paid for support services</h2>

                <h2 class="govuk-heading-l yellow b" id="before-you-start">Paid for support services</h2>

                <h3 class="govuk-heading-m a" id="before-you-start" style="padding:0px; width:100%;">Edapt</h3>

                <h3 class="govuk-heading-m yellow b" id="before-you-start">Edapt</h3>

                <p class="govuk-body">
                    Edapt offers edu-legal support for teachers and school staff if you have a subscription.  
                </p>

                <p class="govuk-body">
                    They offer an alternative to trade unions and can provide: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>extended hours front line support and advice, 8am to 7pm Monday to Friday </li>
                    <li>professional support from experts in education </li>
                    <li>support through disciplinary, grievance or allegations made against you </li>
                </ul>
    
                <p class="govuk-body">
                    <a href="https://www.edapt.org.uk/">Explore Edapt (opens in new tab)</a>. 
                </p>

                <h3 class="govuk-heading-m a" id="before-you-start" style="padding:0px; width:100%;">Unions </h3>

                <h3 class="govuk-heading-m yellow b" id="before-you-start">Unions </h3>

                <p class="govuk-body">
                    You are eligible as a trainee teacher to join a teaching union.   
                </p>
                <p class="govuk-body">
                    A union can offer: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>professional guidance and mentorship </li>
                    <li>support with workplace issues (for example, unfair treatment or disputes)</li>
                    <li>legal support </li>
                    <li>teaching resources, training and networking events </li>
                    <li>discounts and insurance benefits, including professional liability insurance </li>
                </ul>

                <div class="a">
                    <p class="govuk-body">
                        Some examples include the following: 
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a target="_blank" href="https://neu.org.uk/advice/member-groups/new-teachers">National Education Union (opens in new tab)</a></li>
                        <li><a target="_blank" href="https://www.nasuwt.org.uk/advice/student-hub.html">NASWUT (opens in new tab)</a></li>
                        <li><a target="_blank" href="https://community-tu.org/who-we-are/our-sectors/education-and-early-years/teachers-tutors-and-lecturers/">Community (opens in new tab)</a></li>
                    </ul>
                </div>

                <section class="govuk-body">
                    <p class="govuk-body">
                        Some examples include the following: 
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a target="_blank" href="https://neu.org.uk/advice/member-groups/new-teachers">National Education Union (opens in new tab)</a></li>
                        <li><a target="_blank" href="https://www.nasuwt.org.uk/advice/student-hub.html">NASWUT (opens in new tab)</a></li>
                        <li><a target="_blank" href="https://community-tu.org/who-we-are/our-sectors/education-and-early-years/teachers-tutors-and-lecturers/">Community (opens in new tab)</a></li>
                    </ul>
                </section>
                
            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "feedbackcta.html" %}


{% endblock %}
