{% extends "layouts/main.html" %}

{% set pageName="support" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/prepare/prepare">Get support</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="hero yellow content-even">
    <picture>
       <img src="/public/images/teacher4large.png" alt="A group of people seated indoors, attentively facing a presenter standing in front of a whiteboard." aria-hidden="true">
    </picture>
  <div class="hero__title">
    <h1 class="heading--box-padded heading--box-padding-l heading--box-white">Get support</h1>
  </div>
</div>


  <div class="govuk-width-container">


  <div class="govuk-main-wrapper">

    <nav class="category__nav-cards">
        <ul class="dfe-grid-container">

            <li class="category__nav-card">
                <a class="link--black" href="support_course">
                    <div class="category__nav-card--content">
                        <h2 class="govuk-heading-m">Get support through your training</h2>
                        <p>Find out what support you'll get as part of your teacher training course.</p>
                    </div>
                </a>
            </li>

            <li class="category__nav-card">
                <a class="link--black" href="support_outside">
                    <div class="category__nav-card--content">
                        <h2 class="govuk-heading-m">Get support outside your training</h2>
                        <p>Find out what extra support you can get beyond your teacher training course.</p>
                    </div>
                </a>
            </li>

            <li class="category__nav-card">
                <a class="link--black" href="https://getintoteaching.education.gov.uk/funding-and-support">
                    <div class="category__nav-card--content">
                        <h2 class="govuk-heading-m">Funding information from Get Into Teaching</h2>
                        <p>Find out what financial support you can get beyond your teacher training course.</p>
                    </div>
                </a>
            </li>

        </ul>
    </nav>
   


</div>

</div>

{% include "includes/feedbackcta.html" %}


{% endblock %}
