{% extends "layouts/main.html" %}

{% set pageName="Support through your training course" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/home">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/support/support">Get support</a></li>
                <li class="govuk-breadcrumbs__list-item">Support through your training course</li>
            </ol>
        </div>
    </div>
</div>

<div class="dfe-content-page--header govuk-!-padding-top-1 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Support through your training course</h1>
                <p class="govuk-body-l">Find out what support you'll get as part of your teacher training course.</p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        <div class="govuk-grid-row">

            {% include "support/sidebar.html" %}

            <div class="govuk-grid-column-three-quarters markdown ">

                <p class="govuk-body">
                    There are lots of people on hand to support you during your training. These might be called different things depending on your training provider, but you can expect to receive support from your: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>school-based mentor</li>
                    <li>provider-based mentor or tutor</li>
                    <li>training provider</li>
                </ul>
               
                <h2 class="govuk-heading-l" id="before-you-start">Your school-based mentor</h2>

                <p class="govuk-body">
                    Your school-based mentor is there to support you with your day-to-day learning and development in your placement school. They can help you: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>plan lessons</li>
                    <li>manage your classroom</li>
                    <li>deal with teaching challenges (for example, pupil behaviour, using school systems or workload)</li>
                </ul>

                <h2 class="govuk-heading-l" id="before-you-start">Your provider-based mentor or tutor </h2>

                <p class="govuk-body">
                   Your provider-based mentor or tutor is your main contact for your specific training course. They can help: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>answer questions about your training course (for example, how you should be gathering evidence for qualified teacher status (QTS))</li>
                    <li>support you with any assessment questions </li>
                    <li>liaise between you and your placement school (for example, if you do not feel you’re being adequately supported)</li>
                </ul>

                <h2 class="govuk-heading-l" id="before-you-start">Your training provider</h2>

                <p class="govuk-body">
                   Your training provider may offer services beyond your day-to-day placement experiences and learning. They can help you: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>answer any questions or concerns with the content of your training programme </li>
                    <li>access specific resources or materials </li>
                    <li>get additional support (for example, your provider might offer careers, mental health or financial services)</li>
                </ul>

                
            </div>
           
            
        </div>
        
      
   </div>
</section>


{% include "includes/feedbackcta.html" %}



{% endblock %}
