{% extends "layouts/main_future.html" %}

{% set pageName="profile" %}

{% block content %}

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                <span class="govuk-caption-xl">TRN: 4893456489</span>
                <h1 class="govuk-heading-xl govuk-!-padding-top-1 govuk-!-margin-bottom-2">Sophie Williams <strong class="govuk-tag govuk-tag--green">Trainee teacher</strong></h1> 
                <p class="app-status-message govuk-!-margin-bottom-5">
                    Last updated on 21 Aug 2025 at 14:59pm UK time.
                </p>

                
            </div>
        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Your details</h2>
                
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                        Sarah Philips
                        </dd>
                        
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Teacher Reference Number
                        </dt>
                        <dd class="govuk-summary-list__value">
                        3482940
                        </dd>
                       
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                        sarah@email.com
                        </dd>
                       
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Provider
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Teach First
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Course
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Physics
                        </dd>
                    </div>
                    
                </dl>


            </div>
        </div>
        
        <div class="govuk-grid-row">

            
            
            <div class="govuk-grid-column-full">

                


                <div class="govuk-grid-row govuk-!-padding-top-0">
                    
                    <div class="govuk-grid-column-full">

                        <h2 class="govuk-heading-l">Useful services whilst you're training</h2>

                        <div class="dfe-grid-container four">

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get ready to teach</a>
                                    </h3>
                                    <p>
                                        Find out what to expect on your teacher training and which resources you can use for support.
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Apply for qualified teacher status (QTS) in England</a>
                                    </h3>
                                    <p>
                                        QTS is a legal requirement to teach in many schools in England. 
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Apply for student finance</a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                        
                        </div>
                        

                        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

                    </div>

                    <div class="govuk-grid-column-full">

                        <h2 class="govuk-heading-l">When you're ready to look for a teaching job</h2>

                        <div class="dfe-grid-container four">

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Find a job on Teaching Vacancies</a>
                                    </h3>
                                    <p>
                                        Find teacher and school jobs near you.
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Set up a job alert</a>
                                    </h3>
                                    <p>
                                        Get alerted with an email every time a job matches your search criteria.
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Claim additional payments for teaching</a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Support for early career teachers</a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Find a lost teacher reference number (TRN)</a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Access your teaching qualifications</a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>

                            
                        
                        </div>
                        

                        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

                    </div>

                    <div class="govuk-grid-column-full">

                        <h2 class="govuk-heading-l">Developing your practice as a teacher</h2>

                        <div class="dfe-grid-container four">

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Find a teaching school hub</a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Register for a national professional qualification</a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Find school and college performance data in England</a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>

                        </div>
                        

                        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

                    </div>

                    <div class="govuk-grid-column-full">

                        <h2 class="govuk-heading-l">Other userful services</h2>

                        <div class="dfe-grid-container four">

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Teachers pensions</a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>


                        </div>
                        

                    </div>
                    
                </div>

            </div>

            
            
        
        </div>

        

        <!--

        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-one-half">

                <h2 class="govuk-heading-m">Email preferences</h2>
                
                
            </div>
        
        </div>

        
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-l">Your saved events</h2>

                <div class="dfe-grid-container four">

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>
                    
                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>
                
                </div>
                

                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

            </div>

        </div>

        <section class="govuk-!-margin-top- govuk-!-margin-bottom-7">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner">
                        <div class="cta-banner-text">
                            <h2 class="govuk-heading-l">Give training feedback</h2>
                            <p class="govuk-body-m">You're halfway through your training year. Give quick feedback on how you've found it so far.  Your views can make a difference for future trainees.</p>
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Continue to survey
                            </button>
                        </div>
                        <div class="cta-banner-img">
                            <img class="full-width-image" title="Adult sat with a group of young children playing with building blocks" src="//images.ctfassets.net/dvmeh832nmjc/6Se0obUNjNwHvl6CKPTe9b/ecba60f50fa890928b2506deed5174e8/homepage.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

        <section class="govuk-!-margin-top- govuk-!-margin-bottom-7">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner">
                        <div class="cta-banner-text">
                            <h2 class="govuk-heading-l">Keep up to date with new content</h2>
                            <p class="govuk-body-m">You're halfway through your training year. Give quick feedback on how you've found it so far.  Your views can make a difference for future trainees.</p>
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Continue to survey
                            </button>
                        </div>
                        <div class="cta-banner-img">
                            <img class="full-width-image" title="Adult sat with a group of young children playing with building blocks" src="//images.ctfassets.net/dvmeh832nmjc/6Se0obUNjNwHvl6CKPTe9b/ecba60f50fa890928b2506deed5174e8/homepage.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        -->
      
   </div>
</section>

{% include "includes/feedbackcta.html" %}



{% endblock %}
