{% extends "layouts/main.html" %}

{% set pageName="profile" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-5 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Trainee timeline</h1>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            View previous months
                        </span>
                    </summary>
                    <div class="govuk-details__text">

                    </div>
                </details>

                

                
                
                <div class="dwp-timeline">
                    <ol class="dwp-timeline__items">
                        <li class="dwp-timeline__item">

                            <h2 class="govuk-heading-l">It's October! here's the best articles for you</h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu leo lorem. Duis at purus et nunc facilisis aliquam lobortis vitae tellus. Suspendisse nibh enim, venenatis nec lacus id, fermentum pharetra justo.</p>

                            
                            <section class="homepage-feature blocks col-space-m-top ">
                                <div class="call-to-action call-to-action--homepage govuk-!-margin-bottom-7">
                                
                                    <div class="call-to-action__content">
                                        <h3 class="call-to-action__heading"><span>Your first placement</span></h3>
                                        <p>Find out how you can prepare for your first school placement, from accessing the school to your professional conduct.</p>
                                        <p class="govuk-!-margin-bottom-">
                                            <a href="/prepare/prepare_placement" style="text-decoration:none;" type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                                                Prepare for your placement
                                            </a>
                                        </p>
                                    </div>
                                    
                                    <div style="background-image: url('/public/images/teacher3.png')" class="call-to-action__image normal-image"></div>
                                </div>
                                
                            </section>

                            <section class="homepage-feature blocks col-space-m-top ">
                                <div class="call-to-action call-to-action--homepage govuk-!-margin-bottom-2">
                                    
                                    <div class="call-to-action__content">
                                        <h3 class="call-to-action__heading"><span>Your school-based mentor</span></h3>
                                        <p>Find out what to expect from your school-based mentor, how they’ll assess you and where else you can get support.</p>
                                        <p class="govuk-!-margin-bottom-">
                                            <a href="/prepare/prepare_mentor" style="text-decoration:none;" type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" data-govuk-button-init="">
                                                What to expect from your mentor
                                            </a>
                                        </p>
                                    </div>
                                    
                                    <div style="background-image: url('/public/images/teacher8.png')" class="normal-image call-to-action__image"></div>
                                </div>
                                
                            </section>

               
                        </li>
                        
                        <li class="dwp-timeline__item">

                            <h2 class="govuk-heading-l">November - get ready for X</h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu leo lorem. Duis at purus et nunc facilisis aliquam lobortis vitae tellus. Suspendisse nibh enim, venenatis nec lacus id, fermentum pharetra justo.</p>

                            <section class="homepage-feature blocks col-space-m-top ">
                                <div class="call-to-action call-to-action--homepage govuk-!-margin-bottom-7">
                                
                                    <div class="call-to-action__content">
                                        <h3 class="call-to-action__heading">Lesson planning as a trainee teacher</h3>
                                        <p>Find out how you can prepare for your first school placement, from accessing the school to your professional conduct.</p>
                                        <p class="govuk-!-margin-bottom-">
                                            <a href="/prepare/prepare_placement" style="text-decoration:none;" type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                                                Lesson planning
                                            </a>
                                        </p>
                                    </div>
                                    
                                    <div style="background-image: url('/public/images/teacher4.png')" class="call-to-action__image normal-image"></div>
                                </div>
                                
                            </section>

                            <section class="homepage-feature blocks col-space-m-top ">
                                <div class="call-to-action call-to-action--homepage govuk-!-margin-bottom-2">
                                    
                                    <div class="call-to-action__content">
                                        <h3 class="call-to-action__heading"><span>Your school-based mentor</span></h3>
                                        <p>Find out what to expect from your school-based mentor, how they’ll assess you and where else you can get support.</p>
                                        <p class="govuk-!-margin-bottom-">
                                            <a href="/prepare/prepare_mentor" style="text-decoration:none;" type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" data-govuk-button-init="">
                                                What to expect from your mentor
                                            </a>
                                        </p>
                                    </div>
                                    
                                    <div style="background-image: url('/public/images/teacher8.png')" class="normal-image call-to-action__image"></div>
                                </div>
                                
                            </section>

               
                        </li>

                        <li class="dwp-timeline__item">

                            <h2 class="govuk-heading-l">December - get ready for X</h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu leo lorem. Duis at purus et nunc facilisis aliquam lobortis vitae tellus. Suspendisse nibh enim, venenatis nec lacus id, fermentum pharetra justo.</p>

                            <section class="homepage-feature blocks col-space-m-top ">
                                <div class="call-to-action call-to-action--homepage govuk-!-margin-bottom-7">
                                
                                    <div class="call-to-action__content">
                                        <h3 class="call-to-action__heading">Lesson planning as a trainee teacher</h3>
                                        <p>Find out how you can prepare for your first school placement, from accessing the school to your professional conduct.</p>
                                        <p class="govuk-!-margin-bottom-">
                                            <a href="/prepare/prepare_placement" style="text-decoration:none;" type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                                                Lesson planning
                                            </a>
                                        </p>
                                    </div>
                                    
                                    <div style="background-image: url('/public/images/teacher4.png')" class="call-to-action__image normal-image"></div>
                                </div>
                                
                            </section>

                            <section class="homepage-feature blocks col-space-m-top ">
                                <div class="call-to-action call-to-action--homepage govuk-!-margin-bottom-2">
                                    
                                    <div class="call-to-action__content">
                                        <h3 class="call-to-action__heading"><span>Your school-based mentor</span></h3>
                                        <p>Find out what to expect from your school-based mentor, how they’ll assess you and where else you can get support.</p>
                                        <p class="govuk-!-margin-bottom-">
                                            <a href="/prepare/prepare_mentor" style="text-decoration:none;" type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" data-govuk-button-init="">
                                                What to expect from your mentor
                                            </a>
                                        </p>
                                    </div>
                                    
                                    <div style="background-image: url('/public/images/teacher8.png')" class="normal-image call-to-action__image"></div>
                                </div>
                                
                            </section>

               
                        </li>
                        
                        <li class="dwp-timeline__item">
                            <h3 class="dwp-timeline__heading">
                                Spring term (January to April) 
                            </h3>
                            <p class="dwp-timeline__by-line">
                                You’ll likely start your second placement in the spring term and your time spent teaching whole lessons will increase. 
                            </p>
                            <p class="dwp-timeline__by-line">
                                Different providers will have different placement structures, so you may spend more time in some placement schools than others. But each trainee needs 120 days placement in at least 2 schools to get QTS. 
                            </p>
                        </li>

                        
                    </ol>
                </div>



                    
                </div>


            </div>

         
        
        </div>

        

      
   </div>
</section>

{% include "includes/feedbackcta.html" %}



{% endblock %}
