{% extends "layouts/main_future.html" %}

{% set pageName="profile" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-5 govuk-!-padding-bottom-1" style="background-color: white;">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <span class="govuk-caption-xl">TRN: 4893456489</span>
                <h1 class="govuk-heading-xl govuk-!-padding-top-1 govuk-!-margin-bottom-2">Sophie Williams <strong class="govuk-tag govuk-tag--green">Trainee teacher</strong></h1> 
                <p class="app-status-message govuk-!-margin-bottom-5">
                    Last updated on 21 Aug 2025 at 14:59pm UK time.
                </p>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6" style="border-top: 1px solid #b1b4b6; background-color: #f3f2f1;">
   <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <!--<div class="moj-identity-bar">
                    <div class="moj-identity-bar__container" style="max-width:none;">
                        <div class="moj-identity-bar__details">
                            <span class="moj-identity-bar__title"><b>Sophie Williams</b>, TRN:<b>494593598</b></span>
                        </div>

                        <div class="moj-identity-bar__actions">
                        <div class="moj-identity-bar__menu">
                            <div class="moj-button-menu" data-module="moj-button-menu">
                                <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
                                    Primary action
                                </a>
                            </div>
                        </div>

                        <div class="moj-identity-bar__menu">
                            <div class="moj-button-menu" data-module="moj-button-menu" data-button-classes="govuk-button--secondary">
                                <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
                                    Secondary action
                                </a>
                            </div>
                        </div>

                    </div>

                </div> -->
            </div>
        </div>
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">

                <nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">

                    <h4 class="moj-side-navigation__title">Account</h4>
                    <ul class="moj-side-navigation__list">
                        <li class="moj-side-navigation__item">
                            <a href="#1.1" aria-current="location">Your information</a>
                        </li>

                        <li class="moj-side-navigation__item">
                        <a href="#1.2">Qualifications</a>
                        </li>

                        <li class="moj-side-navigation__item">
                            <a href="#1.3">Personal statement</a>
                        </li>
                        <li class="moj-side-navigation__item  moj-side-navigation__item--active">
                            <a href="#1.3">Your timeline</a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="govuk-grid-column-two-thirds">

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            View completed steps
                        </span>
                    </summary>
                    <div class="govuk-details__text">

                    </div>
                </details>

                <div class="summary-list-container" style="background-color:white;">

                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="govuk-heading-m">Give training provider feedback</h2>
                            <p class="govuk-body">We're interested in how it's going, let us know.</p>
                            <p class="govuk-!-margin-bottom-">
                                <a href="/prepare/prepare_training" style="text-decoration:none;" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
                                    Give training feedback
                                </a>
                            </p>
                        </div>
                        
                        
                    </div>
                    
                </div>

                <div class="summary-list-container" style="background-color:white;">

                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="govuk-heading-m">Get ready to teach</h2>
                            <p class="govuk-body">Whilst you're training, you might find the Get ready to teach service interesting.</p>
                            <p class="govuk-!-margin-bottom-">
                                <a href="/prepare/prepare_training" style="text-decoration:none;" type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                                    Find out more about Get ready to teach
                                </a>
                            </p>
                        </div>
                        
                        <div class="govuk-grid-column-one-third">
                            <img src="/public/images/teacherlogo.svg" class="teaching-fe-logo logo" alt="teaching fe logo" tabindex="-1">
                        </div>
                    </div>
                    
                </div>

                <div class="govuk-grid-row govuk-!-padding-top-0">
                    
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-l">DfE services for you</h2>

                        <p class="govuk-body">Find out more about services dedicate to supporting teachers.</p>

                        <h3 class="govuk-heading-m">Becoming a teacher</h3>

                        <div class="dfe-grid-container four">

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get into teaching</a>
                                    </h3>
                                    <p>
                                        Find out more about getting into teaching, events and advice.
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Apply for qualified teacher status (QTS) in England</a>
                                    </h3>
                                    <p>
                                        QTS is a legal requirement to teach in many schools in England. 
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Apply for student finance</a>
                                    </h3>
                                    <p>
                                        QTS is a legal requirement to teach in many schools in England.
                                    </p>
                                </div>
                            </div>
                        
                        </div>
                        

                        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

                    </div>
                    
                </div>


                <div class="govuk-grid-row govuk-!-padding-top-0">
                    
                    <div class="govuk-grid-column-full">

                        <h3 class="govuk-heading-m">Becoming a teacher</h3>

                        <div class="dfe-grid-container four">

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get into teaching</a>
                                    </h3>
                                    <p>
                                        Find out more about getting into teaching, events and advice.
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Apply for qualified teacher status (QTS) in England</a>
                                    </h3>
                                    <p>
                                        QTS is a legal requirement to teach in many schools in England. 
                                    </p>
                                </div>
                            </div>

                            <div class="dfe-card">
                                <div class="dfe-card-container">
                                    <h3 class="govuk-heading-m">
                                        <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Apply for student finance</a>
                                    </h3>
                                    <p>
                                        QTS is a legal requirement to teach in many schools in England.
                                    </p>
                                </div>
                            </div>
                        
                        </div>
                        

                        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

                    </div>
                    
                </div>

            </div>

            
            
        
        </div>

        

        <!--

        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-one-half">

                <h2 class="govuk-heading-m">Email preferences</h2>
                
                
            </div>
        
        </div>

        
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-l">Your saved events</h2>

                <div class="dfe-grid-container four">

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>
                    
                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>
                
                </div>
                

                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

            </div>

        </div>

        <section class="govuk-!-margin-top- govuk-!-margin-bottom-7">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner">
                        <div class="cta-banner-text">
                            <h2 class="govuk-heading-l">Give training feedback</h2>
                            <p class="govuk-body-m">You're halfway through your training year. Give quick feedback on how you've found it so far.  Your views can make a difference for future trainees.</p>
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Continue to survey
                            </button>
                        </div>
                        <div class="cta-banner-img">
                            <img class="full-width-image" title="Adult sat with a group of young children playing with building blocks" src="//images.ctfassets.net/dvmeh832nmjc/6Se0obUNjNwHvl6CKPTe9b/ecba60f50fa890928b2506deed5174e8/homepage.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

        <section class="govuk-!-margin-top- govuk-!-margin-bottom-7">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner">
                        <div class="cta-banner-text">
                            <h2 class="govuk-heading-l">Keep up to date with new content</h2>
                            <p class="govuk-body-m">You're halfway through your training year. Give quick feedback on how you've found it so far.  Your views can make a difference for future trainees.</p>
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Continue to survey
                            </button>
                        </div>
                        <div class="cta-banner-img">
                            <img class="full-width-image" title="Adult sat with a group of young children playing with building blocks" src="//images.ctfassets.net/dvmeh832nmjc/6Se0obUNjNwHvl6CKPTe9b/ecba60f50fa890928b2506deed5174e8/homepage.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        -->
      
   </div>
</section>

{% include "includes/feedbackcta.html" %}



{% endblock %}
