{% extends "layouts/main.html" %}

{% set pageName="profile" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-5 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Your profile</h1>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-m">Your details</h2>
                
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                        Sarah Philips
                        </dd>
                        
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Teacher Reference Number
                        </dt>
                        <dd class="govuk-summary-list__value">
                        3482940
                        </dd>
                       
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                        sarah@email.com
                        </dd>
                       
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Provider
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Teach First
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Course
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Physics
                        </dd>
                    </div>
                    
                </dl>

                <div class="govuk-grid-row govuk-!-padding-top-5">
                    
                    <div class="govuk-grid-column-one-half">
                        <h2 class="govuk-heading-m">Get into Teaching events</h2>

                        <p class="govuk-body">Some Get into Teaching events could help you. You can talk to expert advisers, a range of local training providers and experienced teachers.</p>
                        <p class="govuk-body"><a target="_blank" href="https://getintoteaching.education.gov.uk/events" class="govuk-link govuk-link--no-visited-state">Find out more about events on Get Into Teaching (link opens in new tab)</a></p>

                        <a style="text-decoration: none;" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Find events on Get into Teaching
                        </a>

                    </div>
                    <div class="govuk-grid-column-one-half">
                        <img src="/public/images/teacher5.png" style="max-width: 100%;">
                    </div>
                </div>

                <div class="govuk-grid-row govuk-!-padding-top-5">
                    <div class="govuk-grid-column-full">
                        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                    </div>
                    
                    <div class="govuk-grid-column-one-half">
                        <h2 class="govuk-heading-m">Career changes events</h2>

                        <p class="govuk-body">Now Teach is a charity that finds and supports career changers in teaching. They partner with schools, universities and training providers to support career changers.</p>
                        <p class="govuk-body"><a target="_blank" href="https://nowteach.org.uk/become-a-teacher/events/" class="govuk-link govuk-link--no-visited-state">Find out more about Now Teach events (link opens in new tab)</a></p>

                    </div>
                    <div class="govuk-grid-column-one-half">
                        <img src="/public/images/nowteach.png" style="max-width: 100%;">
                    </div>
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                    </div>
                    <div class="govuk-grid-column-one-half">
                      
                        <h2 class="govuk-heading-m">Looking for a teaching job</h2>

                        <p class="govuk-body">Teaching Vacancies is a free DFE platform for searching for school-based teaching roles across England. You can filter roles to meet your preferences and also create job alerts.</p>
                        
                        <p class="govuk-body"><a target="_blank" href="https://teaching-vacancies.service.gov.uk/jobs?visa_sponsorship_availability%5B%5D=&teaching_job_roles%5B%5D=&teaching_job_roles%5B%5D=teacher&support_job_roles%5B%5D=&phases%5B%5D=&phases%5B%5D=secondary&subjects%5B%5D=&ect_statuses%5B%5D=&organisation_types%5B%5D=&school_types%5B%5D=&working_patterns%5B%5D=&quick_apply%5B%5D=&previous_keyword=&organisation_slug=&keyword=&location=&radius=0&sort_by=publish_on&sort_by=publish_on" class="govuk-link govuk-link--no-visited-state">Search teaching roles (link opens in new tab)</a></p>
                        <p class="govuk-body"><a target="_blank" href="https://teaching-vacancies.service.gov.uk/subscriptions/new" class="govuk-link govuk-link--no-visited-state">Create a job alert (link opens in new tab)</a></p>


                    </div>
                    <div class="govuk-grid-column-one-half">
                        <img src="/public/images/teachingvacancies.png" style="max-width: 100%;">
                    </div>
                </div>

                <div class="govuk-grid-row govuk-!-padding-top-5">
                    <div class="govuk-grid-column-full">
                        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                    </div>
                    
                    <div class="govuk-grid-column-one-half">
                        <h2 class="govuk-heading-m">Time-saving teaching resources</h2>

                        <p class="govuk-body">Get a head-start on your lesson planning using quality-checked resources you can download and adapt for free at Oak National Academy.</p>
                        <p class="govuk-body"><a href="https://www.thenational.academy/" class="govuk-link govuk-link--no-visited-state">Find resources on Oak National Academy (link opens in new tab)</a></p>

                    </div>
                    <div class="govuk-grid-column-one-half">
                        <img src="/public/images/oak.png" style="max-width: 100%;">
                    </div>
                </div>

            </div>

            
            <div class="govuk-grid-column-one-third">
                <aside class="app-related" aria-labelledby="support-title" style="padding-top: 15px;  border-top: 2px solid #1d70b8;">
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="support-title">Useful links</h2>

                    <ul class="govuk-list govuk-!-font-size-16">
                        <li><a class="govuk-link" href="/prepare/prepare_timeline">timeline of your training</a></li>
                        <li><a class="govuk-link" href="/prepare/prepare_timeline">lesson planning as a trainee teacher</a></li>
                    </ul>

                </aside>
            </div>
        
        </div>

        

        <!--

        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-one-half">

                <h2 class="govuk-heading-m">Email preferences</h2>
                
                
            </div>
        
        </div>

        
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-l">Your saved events</h2>

                <div class="dfe-grid-container four">

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>
                    
                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>
                
                </div>
                

                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

            </div>

        </div>

        <section class="govuk-!-margin-top- govuk-!-margin-bottom-7">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner">
                        <div class="cta-banner-text">
                            <h2 class="govuk-heading-l">Give training feedback</h2>
                            <p class="govuk-body-m">You're halfway through your training year. Give quick feedback on how you've found it so far.  Your views can make a difference for future trainees.</p>
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Continue to survey
                            </button>
                        </div>
                        <div class="cta-banner-img">
                            <img class="full-width-image" title="Adult sat with a group of young children playing with building blocks" src="//images.ctfassets.net/dvmeh832nmjc/6Se0obUNjNwHvl6CKPTe9b/ecba60f50fa890928b2506deed5174e8/homepage.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

        <section class="govuk-!-margin-top- govuk-!-margin-bottom-7">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner">
                        <div class="cta-banner-text">
                            <h2 class="govuk-heading-l">Keep up to date with new content</h2>
                            <p class="govuk-body-m">You're halfway through your training year. Give quick feedback on how you've found it so far.  Your views can make a difference for future trainees.</p>
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Continue to survey
                            </button>
                        </div>
                        <div class="cta-banner-img">
                            <img class="full-width-image" title="Adult sat with a group of young children playing with building blocks" src="//images.ctfassets.net/dvmeh832nmjc/6Se0obUNjNwHvl6CKPTe9b/ecba60f50fa890928b2506deed5174e8/homepage.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        -->
      
   </div>
</section>

{% include "includes/feedbackcta.html" %}



{% endblock %}
