{% extends "layouts/main.html" %}

{% set pageName="profile" %}

{% block content %}

<div class="dfe-content-page--header govuk-!-padding-top-5 govuk-!-padding-bottom-1">
    <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-1">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl govuk-!-padding-top-1">Your profile</h1>
            </div>
        </div>
    </div>
</div>

<section class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
   <div class="govuk-width-container">
        
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-m">Your details</h2>
                
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                        Sarah Philips
                        </dd>
                        
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Teacher Reference Number
                        </dt>
                        <dd class="govuk-summary-list__value">
                        3482940
                        </dd>
                       
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                        sarah@email.com
                        </dd>
                       
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Provider
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Teach first
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Provider type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            University
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Course level
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Secondary
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subject
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Physics
                        </dd>
                    </div>
                </dl>

                <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-5">

                    <div class="govuk-grid-column-full">
                
                        <div class="cta-banner govuk-!-padding-top-5 govuk-!-padding-bottom-5">
                            <div class="cta-banner-text">
                                <h2 class="govuk-heading-m">Find a physics teacher role today</h2>
                                <p class="govuk-body-m">
                                    Last week Teaching Vacancies had 20 physics teaching roles advertised suitable for early career teachers.
                                </p>
                                <p class="govuk-!-margin-bottom-">
                                    <a href="https://teaching-vacancies.service.gov.uk/jobs?visa_sponsorship_availability%5B%5D=&teaching_job_roles%5B%5D=&support_job_roles%5B%5D=&phases%5B%5D=&subjects%5B%5D=&subjects%5B%5D=Physics&ect_statuses%5B%5D=&ect_statuses%5B%5D=ect_suitable&organisation_types%5B%5D=&school_types%5B%5D=&working_patterns%5B%5D=&quick_apply%5B%5D=&previous_keyword=&organisation_slug=&keyword=&location=&radius=0&sort_by=publish_on&sort_by=publish_on" style="text-decoration:none;" type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" data-govuk-button-init="">
                                        Search for roles on Teaching Vacancies
                                    </a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="govuk-grid-row govuk-!-padding-top-0">

                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-m">DfE services for you</h2>

                        <p class="govuk-body">Find out more about services dedicate to supporting teachers.</p>

                        <div class="govuk-tabs" data-module="govuk-tabs">
                        <h2 class="govuk-tabs__title">
                            Contents
                        </h2>
                        <ul class="govuk-tabs__list">
                            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                <a class="govuk-tabs__tab" href="#past-week">
                                    Start teaching
                                </a>
                            </li>
                            <li class="govuk-tabs__list-item">
                                <a class="govuk-tabs__tab" href="#past-month">
                                    Developing your practice
                                </a>
                            </li>
                        </ul>
                       
                        <div class="govuk-tabs__panel " id="past-week">
                            <h3 class="govuk-heading-m">Start teaching</h3>

                            <div class="govuk-grid-row govuk-!-padding-top-0">
                                <div class="govuk-grid-column-two-thirds">
                                    <h4 class="govuk-heading-s">Find a teaching job</h4>

                                    <p class="govuk-body">Teaching Vacancies is a free DFE platform for searching for school-based teaching roles across England. You can filter roles to meet your preferences and also create job alerts.</p>

                                    <p class="govuk-body">
                                        <a class="govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/events">Find roles on Teaching Vacancies</a>
                                    </p>
                                    <p class="govuk-body">
                                        <a class="govuk-link--no-visited-state" href="https://teaching-vacancies.service.gov.uk/subscriptions/new">Create a job alert</a>
                                    </p>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <img src="/public/images/teachingvacancies.png" alt="A busy indoor job fair hall. Numerous booths with banners are set up, and many attendees are walking around and engaging with exhibitors" style="max-width: 100%;">
                                </div>
                                <div class="govuk-grid-column-full">
                                    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                                </div>
                            </div>

                            <div class="govuk-grid-row govuk-!-padding-top-0">
                                <div class="govuk-grid-column-two-thirds">
                                    <h4 class="govuk-heading-s">Claim additional payments for teaching</h4>

                                    <p class="govuk-body">Teachers of eligible subjects can receive between £3,000 and £6,000.</p>

                                    <p class="govuk-body">
                                        <a class="govuk-link--no-visited-state" href="https://www.claim-additional-teaching-payment.service.gov.uk/targeted-retention-incentive-payments/landing-page">Claim additional payments for teaching</a>
                                    </p>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <img src="/public/images/teacher4.png" alt="A busy indoor job fair hall. Numerous booths with banners are set up, and many attendees are walking around and engaging with exhibitors" style="max-width: 100%;">
                                </div>
                                <div class="govuk-grid-column-full">
                                    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                                </div>
                            </div>

                            <div class="govuk-grid-row govuk-!-padding-top-0">
                                <div class="govuk-grid-column-two-thirds">
                                    <h4 class="govuk-heading-s">Support for early career teachers</h4>

                                    <p class="govuk-body">The DfE has selected teacher training providers who've developed materials for school-led training programmes.</p>

                                    <p class="govuk-body">
                                        <a class="govuk-link--no-visited-state" href="https://support-for-early-career-teachers.education.gov.uk/">Support for early career teachers (ECTs)</a>
                                    </p>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <img src="/public/images/teacher6.png" alt="A busy indoor job fair hall. Numerous booths with banners are set up, and many attendees are walking around and engaging with exhibitors" style="max-width: 100%;">
                                </div>
                                <div class="govuk-grid-column-full">
                                    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                                </div>
                            </div>

                            <div class="govuk-grid-row govuk-!-padding-top-0">
                                <div class="govuk-grid-column-two-thirds">
                                    <h4 class="govuk-heading-s">Find a lost teacher reference number (TRN)</h4>

                                    <p class="govuk-body">find your teacher reference number (TRN) if you do not know it or have forgotten it.</p>

                                    <p class="govuk-body">
                                        <a class="govuk-link--no-visited-state" href="https://support-for-early-career-teachers.education.gov.uk/">Find a lost teacher reference number (TRN)</a>
                                    </p>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <img src="/public/images/teacher7.png" alt="A busy indoor job fair hall. Numerous booths with banners are set up, and many attendees are walking around and engaging with exhibitors" style="max-width: 100%;">
                                </div>
                                <div class="govuk-grid-column-full">
                                    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                                </div>
                            </div>

                            <div class="govuk-grid-row govuk-!-padding-top-0">
                                <div class="govuk-grid-column-two-thirds">
                                    <h4 class="govuk-heading-s">Access your teaching qualifications</h4>

                                    <p class="govuk-body">You’ll need a DfE Identity account to access your teaching qualifications.</p>

                                    <p class="govuk-body">
                                        <a class="govuk-link--no-visited-state" href="https://support-for-early-career-teachers.education.gov.uk/">Access your teaching qualifications</a>
                                    </p>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <img src="/public/images/teacher8.png" alt="A busy indoor job fair hall. Numerous booths with banners are set up, and many attendees are walking around and engaging with exhibitors" style="max-width: 100%;">
                                </div>
                            </div>

                        </div>
                        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
                            <h3 class="govuk-heading-m">Developing your practice</h3>

                            <div class="govuk-grid-row govuk-!-padding-top-0">
                                <div class="govuk-grid-column-two-thirds">
                                    <h4 class="govuk-heading-s">Find a teaching school hub</h4>

                                    <p class="govuk-body">Get in touch with other teachers in your area.</p>

                                    <p class="govuk-body">
                                        <a class="govuk-link--no-visited-state" href="https://find-a-teaching-school-hub.education.gov.uk/">Find a teaching school hub</a>
                                    </p>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <img src="/public/images/teacher9.png" alt="A busy indoor job fair hall. Numerous booths with banners are set up, and many attendees are walking around and engaging with exhibitors" style="max-width: 100%;">
                                </div>
                                <div class="govuk-grid-column-full">
                                    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                                </div>
                            </div>

                            <div class="govuk-grid-row govuk-!-padding-top-0">
                                <div class="govuk-grid-column-two-thirds">
                                    <h4 class="govuk-heading-s">Register for a national professional qualification</h4>

                                    <p class="govuk-body">You can register for an NPQ or the early headship coaching offer.</p>

                                    <p class="govuk-body">
                                        <a class="govuk-link--no-visited-state" href="https://register-national-professional-qualifications.education.gov.uk">Register for a national professional qualification</a>
                                    </p>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <img src="/public/images/teacher10.png" alt="A busy indoor job fair hall. Numerous booths with banners are set up, and many attendees are walking around and engaging with exhibitors" style="max-width: 100%;">
                                </div>
                                <div class="govuk-grid-column-full">
                                    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                                </div>
                            </div>

                            <div class="govuk-grid-row govuk-!-padding-top-0">
                                <div class="govuk-grid-column-two-thirds">
                                    <h4 class="govuk-heading-s">Find school and college performance data in England</h4>

                                    <p class="govuk-body">Search for primary, secondary and special needs schools and colleges near you, and compare their performance.</p>

                                    <p class="govuk-body">
                                        <a class="govuk-link--no-visited-state" href="https://register-national-professional-qualifications.education.gov.uk">Find school and college performance data in England</a>
                                    </p>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <img src="/public/images/teacher2.png" alt="A busy indoor job fair hall. Numerous booths with banners are set up, and many attendees are walking around and engaging with exhibitors" style="max-width: 100%;">
                                </div>
                                <div class="govuk-grid-column-full">
                                    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                                </div>
                            </div>

                            <div class="govuk-grid-row govuk-!-padding-top-0">
                                <div class="govuk-grid-column-two-thirds">
                                    <h4 class="govuk-heading-s">Teachers’ pensions
</h4>

                                    <p class="govuk-body">Understand and manage your teacher’s pension, with a range of resources to support you including videos, FAQs, calculators and more.</p>

                                    <p class="govuk-body">
                                        <a class="govuk-link--no-visited-state" href="https://www.teacherspensions.co.uk/members/member-hub.aspx">Teachers’ pensions</a></a>
                                    </p>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <img src="/public/images/teacher1.png" alt="A busy indoor job fair hall. Numerous booths with banners are set up, and many attendees are walking around and engaging with exhibitors" style="max-width: 100%;">
                                </div>
                               
                            </div>
                            
                        </div>
                        
                        </div>

                    </div>
                    
                    
                </div>

                <div class="govuk-grid-row govuk-!-padding-top-3">
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-l govuk-!-padding-bottom-3">Other useful events and resources</h2>
                    </div>
                    
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-m">Career changes events</h3>

                        <p class="govuk-body">Now Teach is a charity that finds and supports career changers in teaching. They partner with schools, universities and training providers to support career changers.</p>
                        
                        <a href="https://nowteach.org.uk/become-a-teacher/events/" target="_blank" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Find events on Now Teach <span class="govuk-visually-hidden">(opens in new tab)</span>
                        </a>

                    </div>
                    <div class="govuk-grid-column-one-half">
                        <img src="/public/images/nowteach.png" alt="A group of teachers standing in a large indoor hall, with several individuals in the front row holding certificates." style="max-width: 100%;">
                    </div>
                </div>

               

                <div class="govuk-grid-row govuk-!-padding-top-0">
                    <div class="govuk-grid-column-full">
                        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                    </div>
                    
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-m">Time-saving teaching resources</h3>

                        <p class="govuk-body">Get a head-start on your lesson planning using quality-checked resources you can download and adapt for free at Oak National Academy.</p>

                        <a href="https://www.thenational.academy/"  target="_blank" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Find resources on Oak National Academy <span class="govuk-visually-hidden">(opens in new tab)</span>
                        </a>

                    </div>
                    <div class="govuk-grid-column-one-half">
                        <img src="/public/images/oak.png" alt="Oak National Academy logo" style="max-width: 100%;">
                    </div>
                </div>

            </div>

            
            <div class="govuk-grid-column-one-third">
                <!--
                <aside class="app-related" aria-labelledby="support-title" style="padding-top: 15px;  border-top: 2px solid #1d70b8;">
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="support-title">Useful links</h2>

                    <ul class="govuk-list govuk-!-font-size-16">
                        <li><a class="govuk-link" href="/prepare/prepare_timeline">timeline of your training</a></li>
                        <li><a class="govuk-link" href="/prepare/prepare_timeline">lesson planning as a trainee teacher</a></li>
                    </ul>

                </aside>
                -->
            </div>
        
        </div>

        

        <!--

        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-one-half">

                <h2 class="govuk-heading-m">Email preferences</h2>
                
                
            </div>
        
        </div>

        
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-l">Your saved events</h2>

                <div class="dfe-grid-container four">

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>

                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>
                    
                    <div class="dfe-card">
                        <img src="/public/images/teacher5.png" alt="Sample Image">
                        <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="checklist" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruitment for ECT roles event</a>
                        </h3>
                        <p>
                            Birmingham, UK
                        </p>
                         <p class="govuk-body-s govuk-!-margin-top-0">Friday 25th 2025, 17:00 to 20:00</p>
                        </div>
                    </div>
                
                </div>
                

                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

            </div>

        </div>

        <section class="govuk-!-margin-top- govuk-!-margin-bottom-7">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner">
                        <div class="cta-banner-text">
                            <h2 class="govuk-heading-l">Give training feedback</h2>
                            <p class="govuk-body-m">You're halfway through your training year. Give quick feedback on how you've found it so far.  Your views can make a difference for future trainees.</p>
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Continue to survey
                            </button>
                        </div>
                        <div class="cta-banner-img">
                            <img class="full-width-image" title="Adult sat with a group of young children playing with building blocks" src="//images.ctfassets.net/dvmeh832nmjc/6Se0obUNjNwHvl6CKPTe9b/ecba60f50fa890928b2506deed5174e8/homepage.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

        <section class="govuk-!-margin-top- govuk-!-margin-bottom-7">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="cta-banner">
                        <div class="cta-banner-text">
                            <h2 class="govuk-heading-l">Keep up to date with new content</h2>
                            <p class="govuk-body-m">You're halfway through your training year. Give quick feedback on how you've found it so far.  Your views can make a difference for future trainees.</p>
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Continue to survey
                            </button>
                        </div>
                        <div class="cta-banner-img">
                            <img class="full-width-image" title="Adult sat with a group of young children playing with building blocks" src="//images.ctfassets.net/dvmeh832nmjc/6Se0obUNjNwHvl6CKPTe9b/ecba60f50fa890928b2506deed5174e8/homepage.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        -->
      
   </div>
</section>

{% include "includes/feedbackcta.html" %}



{% endblock %}
