{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{%- set assetPath = assetPath | default('/plugin-assets/govuk-frontend' + govukFrontend.assetPath) -%}

{% extends "govuk/template.njk" %}

{% block head %}
  {% block meta %}{% endblock %}
  {% block stylesheets %}
    {% include "govuk-prototype-kit/includes/stylesheets.njk" %}
  {% endblock %}
{% endblock %}

{% block pageTitle %}
  {% if pageName %}{{ pageName }} - {% endif %}{{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}

<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
      </a>
    </div>
    <!--
    <div class="govuk-header__content">
        <ul id="" class="govuk-header__navigation-list header-nav">
            <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/signin">
                    Sign in
                </a>
            </li>
        </ul>
    </div>
    -->
  </div>
</header>


<section aria-label="Service information" class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="/home" class="govuk-service-navigation__link">
          Get ready to teach
        </a>
      </span>
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item {% if pageName == 'prepare' %} govuk-service-navigation__item--active {% endif %}">
            <a class="govuk-service-navigation__link" href="/prepare/prepare">
              Prepare for training
            </a>
          </li>
          <li class="govuk-service-navigation__item {% if pageName == 'resources' %} govuk-service-navigation__item--active {% endif %}">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              Resources while training
            </a>
          </li>
          <li class="govuk-service-navigation__item {% if pageName == 'support' %} govuk-service-navigation__item--active {% endif %}">
            <a class="govuk-service-navigation__link" href="#">
              Get support
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
  
{% endblock %}

{% set footerItems = [
    {
      href: "/footer/cookies",
      text: "Cookies"
    },{
      href: "https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers",
      text: "Privacy Policy",
      attributes: {
        lang: "cy",
        hreflang: "cy",
        target: "_blank"
      }
    },{
      href: "/footer/terms",
      text: "Terms and conditions"
    },
    {
      href: "/footer/accessibility",
      text: "Accessibility"
    },{
      href: "#",
      text: data['testname'] 
    },
    {
      href: "/form?utm_test=atest",
      text: "go to A test"
    },{
      href: "/form?utm_test=btest",
      text: "go to B test"
    }

] %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "govuk-prototype-kit/includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
