{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "layouts/govuk-branded_future.njk" %}


<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
      </a>
    </div>
    <div class="govuk-header__content">

    </div>
  </div>
</header>


<section aria-label="Service information" class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="#" class="govuk-service-navigation__link">
         Get ready to teach
        </a>
      </span>
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item {% if pageName == 'prepare' %} govuk-service-navigation__item--active {% endif %}">
            <a class="govuk-service-navigation__link" href="#">
              Prepare for training
            </a>
          </li>
          <li class="govuk-service-navigation__item {% if pageName == 'resources' %} govuk-service-navigation__item--active {% endif %}">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              Resources while training
            </a>
          </li>
          <li class="govuk-service-navigation__item {% if pageName == 'support' %} govuk-service-navigation__item--active {% endif %}">
            <a class="govuk-service-navigation__link" href="#">
              Get support
            </a>
          </li>
          <li class="govuk-service-navigation__item {% if pageName == 'feedback' %} govuk-service-navigation__item--active {% endif %}">
            <a class="govuk-service-navigation__link" href="#">
              Training feedback
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>


{% block scripts %}
    {{ super() }}
{% endblock %}
